<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-6">

        <p>Addons in Agile Toolkit are significantly more powerful. Addons are designed to extend and enhance workings of
        the core framework. 
        </p>

        <a href="<?page?>a/adding<?/?>">Learn about creating your own addon</a>
    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Addons in Agile Toolkit</b>
			<p>Select section to get started</p>
            <?$toc?>
        </div>
    </div>
</div>
