<h1>About</h1>

<p>Agile Toolkit is a PHP5 toolkit developed by <a href="http://www.agiletech.ie">Agile Technologies Ltd</a>. Our mission is stay up to date with web innovation and provide best business features for web developers and business owners.</p>

<h2>Difference between frameworks and Agile Toolkit</h2>
<p>Agile Toolkit is not exactly framework. Framework is a bare-bones flexible implementation which is to direct developer and help maintaining a single pattern throughout the code. Agile Toolkit is that but it is also a set of ready-to-use solutions for common web applications and software as a service projects.</p>
<p>While you might find Zend and Ruby similar to Java and ExtJS, Agile Tookit concept is very similar to jQuery. The motto “Write Less, Do More” perfectly applies to Agile Toolkit.</p>
<p>Agile Toolkit pursues a difficult target – to be efficient in a short-term web software projects, where low cost and high speed is very important. At the same time, it provides ability to scale up software development. It also helps to tackle problems other frameworks choose to ignore.</p>
<p>Read more about <a href="/about/features.html">Agile Toolkit features</a></p>
<p>See how Agile Toolkit has <a href="/about/history.html">envolved</a></p>

<h2>Can I start using toolkit?</h2>
<p>Agile Toolkit is used by a web development companies and  freelancers around the world. Learning framework efficiently requires some effort but allows to achieve great results in future. </p>
<p>If you are considering trying the framework, you should have a some experience in PHP and understanding of Object Oriented Programming. Start with <a href="http://new.atk4.com/doc/intro/1.html">interactive intro</a> and then use our <a href="http://new.atk4.com/doc/ref.html">API reference</a> for more information.</p>

Read more about <a href="/about/license.html">licensing options</a>

<h2>Download Agile Toolkit logo</h2>
If you love what we do, why not download our logo and put it on your website.
Free logo download can be found <a href="">here</a>.

<h2>More questions?</h2>
You will find more important questions answered in our <a href="/about/faq.html">FAQ section</a>, however if you would like to contact us directly click <a href="">here</a>.