<h1><?page_title?>About<?/?> Agile Toolkit</h1>

<?seo_descr?>Agile Toolkit is a PHP5 toolkit developed by Agile Technologies Ltd. Our mission is to provide simple and powerful platform for new and experienced web developers. We target commercial and open-source Web projects and appreciate the importance of open source and commercial software<?/?>

<?seo_keywords?>commercial php, php developer, php jobs<?/?>

<p>Agile Toolkit is a PHP5 toolkit developed by <a href="http://www.agiletech.ie">Agile Technologies Ltd</a>. Our mission is to provide simple and powerful platform for new and experienced web developers. We target commercial and open-source Web projects and appreciate the importance of open source and commercial software</p>

<?MoreInfo?>What exactly is Agile Toolkit? Is it a framework?
<p>Agile Toolkit is a <i>development environment</i> built on top of the PHP5 language. However, developing with Agile Toolkit is easier than using pure PHP5. The Agile Toolkit has it's own rules, concepts, policies and best practices. In documentation and everywhere else we refer to Agile Toolkit as simply "toolkit" or "framework".
</p>

<p>If you are familiar with JavaScript frameworks, the Agile Toolkit is similar in concept and design to jQuery.</p>
<?/?>

<?MoreInfo?>Is it a new framework?
<p>Agile Toolkit was known previously as AModules and traces it's history to 1999. Each major release have been a major rewrite, although some of the code was just cleaned up and ported. Throughout it's history the toolkit have powered over 300 commercial projects. In 2010 it was decided to release Agile Toolkit publicly under open-source and commercial licenses</p>

<p>Agile Toolkit uses many of the concepts found in other frameworks, although they are implemented independently, often differently. Some features pre-dates appearance of their analogues in other frameworks. See how Agile Toolkit has evolved on <a href="/about/history.html">Agile Toolkit Timeline</a></p>
<?/?>

<?MoreInfo?>Why is it called Agile?
<p>Originally it is named after the company who published it — Agile Technologies. We are considering picking a different name, but until we get a really good one we are reluctant to change it. <a href="/contact">Suggest a name</a>.</p>
<?/?>

<?MoreInfo?>I am beginner, will I understand it?
<p>Yes. The core concept of Agile Toolkit is really simple. It breaks down web page or web software into blocks. As a beginner you can use existing blocks to build your software. You do not need to know HTML or CSS in order to get some serious results.</p>

<p>We have made available a learning documents which will guide you through a basic concepts of the toolkit. However, you will need your own Web server and PHP in order to install toolkit and experiment with it</p>
<?/?>

<?MoreInfo?>I am hardcore developer / hacker. Will it restrict me?
<p>No. Agile Toolkit is based on several powerful concepts which can be further extended and personalized. This makes Agile Toolkit viable for a extremely big and complex projects, where other frameworks usually start either being too slow, or too stiff</p>

<p>As a power user you will find it much easier to build and deploy commercial software.</p>
<?/?>

<?MoreInfo?>Can I make website with ATK? Is it a CMS?
<p>Yes, this website is implemented on Agile Toolkit. In fact, you can download this website and even install it on your local computer. The content of this website is being stored in template files and is neatly combined with design templates.</p>
<p>Our <a target="_blank" href="http://agiletech.ie/">website for Agile Technologies</a> similarly uses Agile Toolkit, but there the content is stored in MySQL database and is editable on-line, which makes it a proper CMS system.</p>

<p>Unless you want to make a quick website for your client within 1 day time, Agile Toolkit will give you much greater flexibility and control over content, dynamic interaction and web2.0 of your website.
</p>

<p><i class="atk-icon atk-icons-red atk-icon-arrows-right3"></i><a href="/doc/learn/design">Learn how to build a really simple website in Agile Toolkit</a></p>
<?/?>


<h2>Why another PHP framework?</h2>
<p>Being involved in commercial projects for over 10 years we understand the short-comings of PHP as a platform when it comes to professional work. When a new company looks to build a world-changing web application, they go through steps of fund-raising and prototype-building. When a company needs to create a good looking web software within 1-month time, most of the problems frameworks are trying to solve fade away in front of the major requirement — efficiency. None of the frameworks out there are sufficiently efficient in terms of development time, execution speed and code re-use.</p>

<p>Agile Toolkit has a tremendous success in Software as a Service web applications as well as web administrative tools due it's efficiency and flexibility, however we are also aiming to make things easier for the open-source community.</p>

<p>Despite many of the PHP frameworks being free, they are using Free MIT license which does not require developers to open their projects or pay. We believe that if you get something for free, you should give something in return. For that reason Agile Toolkit is using AGPL open-source license. We would like to see many high-quality open-source web projects spawn around Agile Toolkit, exchanging extensions, skins and source code.</p>

<p>We ask you to support open-source movement by using AGPL license for your software, extension or theme. At the same time, make your software available commercially through the enterprise license.</p>


<?MoreInfo?>How Agile Toolkit approach compares with other UI frameworks?

<p>We have found that other frameworks often have one of the following 3 disadvantages:
<ul>
<li>Too difficult to use. Simple stuff takes lots of code. <a target="_blank" href="http://demo.vaadin.com/sampler#FormBasic">Vaadin</a>, <a target="_blank" href="http://akrabat.com/tutorial/simple-zend_form-example/">Zend</a></li>
<li>Distant from Web Experience. Not sufficiently flexible. <a target="_blank" href="http://mochaui.org/demo/">Mocha</a>, <a target="_blank" href="http://cappuccino.org/learn/demos/FlickrPhoto/index-deploy.html">Cappuchino</a></li>
<li>Lacking JavaScript extensibility. Using their own JavaScript APIs. <a target="_blank" href="http://demo.koolphp.net/Examples/KoolCalendar/DateTimePicker/DateTimePicker_FirstLook/index.php">KoolPHP</a>, <a target="_blank" href="http://www.sigmawidgets.com/products/sigma_visual/VisualJS/UIBuilder.html">Sigma</a></li>

<p>We have made available a learning documents which will guide you through a basic concepts of the toolkit. However, you will need your own Webserver and PHP in order to install toolkit and experiment with it</p>
<?/?>

<?MoreInfo?>I have noticed that Agile Toolkit does not have the "accordion" (or other) feature.
<p>Instead of bundling bunch of ready-to-use JavaScript widgets, we are making it really simple for our developers to use 3rd party jQuery and jQuery UI plugins. If you are in need of accordion, why not use one by jQuery UI?</p>
<p>
It only takes one line of code to activate the accordion. It is also really simple to build your own re-usable accordion which you can use throughout your application.
</p>
<?/?>


<h2>Commercial use</h2>
<p>If you are a developer who is being paid, most certainly you will be getting paid for results. Your employer or client expects you to deliver certain features. If you can achieve that goal faster you can earn more.</p>

<p>Based on this thinking Agile Toolkit is goal-oriented. If you look at our support and demo-site, we foucs on real-life problems and their solutions. We also believe that developing all the application from bottom to top is a waste of resources. It's important to be able to use 3rd solutions and remember that Free software always comes with no warranty.</p>

<?MoreInfo?>How much faster is to develop with Agile Toolkit?
<p>
2-10 times compared to some frameworks and pure PHP. It depends on how much fine-tuning you want to put into software. If you are familiar with Agile Software Development approach, it suggest that you implement features first, then fine-tune them after. It is possible to build a UI for a SaaS application within week, then spend remaining time on business logic and eye-candy.
</p>
<?/?>

<?MoreInfo?>What do I get from commercial version?
<p>
Apart from commercial distribution of Agile Toolkit you will receive one-year support as well as information on best practices in commercial software development. ATK Support team consists of senior (8+ year of experience) developers who know Agile Toolkit perfectly and can assist you by providing you with code samples, best practices and practical knowledge to you that you can implement in your software.
</p>
<p>
To summarize, we will help you find the problem or solution within minutes instead of you spending 1-2 days trying to figure out te problem on-line or through community support.
</p>
<?/?>

<?MoreInfo?>Where can I find developers for Agile Toolkit?
<p>
Normally any developer should be able to start using Agile Toolkit efficiently within one week. Discuss with your developer if using Agile Toolkit might be a good idea for your project.</p>
<p>
If you are looking for new developers we are hosting a simple Job page. Provide more information about your requirements and subscribed developers will be notified and will get in touch with you.</p>
<p><i class="atk-icon atk-icons-red atk-icon-arrows-right3"></i><a href="/commercial/jobs">Post or look for Agile Toolkit jobs</a></p>
</p>
<?/?>

