<h1><?page_title?>About<?/?> Agile Toolkit</h1>

<?seo_descr?>Agile Toolkit is a PHP5 toolkit developed by Agile Technologies Ltd. Our mission is to provide simple and powerful platform for new and experienced web developers. We target commercial and open-source Web projects and appreciate the importance of open source and commercial software<?/?>

<?seo_keywords?>commercial php, php developer, php jobs<?/?>

<p>Agile Toolkit is a PHP5 toolkit developed by <a href="http://www.agiletech.ie">Agile Technologies Ltd</a>. Our mission is to provide simple and powerful platform for new and experienced web developers. We target commercial and open-source Web projects and appreciate the importance of open source and commercial software</p>

<div class="atk-layout c2">
<div>
<?MoreInfo?>What exactly is Agile Toolkit? Is it a framework?
<p>Agile Toolkit is a <i>development environment</i> built on top of the PHP5 language. However, developing with Agile Toolkit is easier than using pure PHP5. The Agile Toolkit has it's own rules, concepts, policies and best practices. In documentation and everywhere else we refer to Agile Toolkit as simply "toolkit" or "framework".
</p>

<p>If you are familiar with JavaScript frameworks, the Agile Toolkit is similar in concept and design to jQuery.</p>
<?/?>

<?MoreInfo?>Is it a new framework?
<p>Agile Toolkit was known previously as AModules and traces it's history to 1999. Each major release have been a major rewrite, although some of the code was just cleaned up and ported. Throughout it's history the toolkit have powered over 300 commercial projects. In 2010 it was decided to release Agile Toolkit publicly under open-source and commercial licenses</p>

<p>Agile Toolkit uses many of the concepts found in other frameworks, although they are implemented independently, often differently. Some features pre-dates appearance of their analogues in other frameworks. See how Agile Toolkit has evolved on <a href="/about/history.html">Agile Toolkit Timeline</a></p>
<?/?>

<?MoreInfo?>Why is it called Agile?
<p>
Agile Toolkit is perfect when it comes to Web Development using Agile Approach. Some of the principles behind Agile Methodology are also principles behind design of Agile Toolkit such as:
<ul>
<li>Getting first version done quickly. Agile Toolkit comes with objects which work with minimum configuration. Your first prototype is few days away.</li>
<li>Ability to see work in progress, demonstrate it to client for feedback. With powerful web UI maintained by Agile Toolkit you have a solid foundation to build upon. Maintaining a healthy UI from the start gives ability to demonstrate progress of all developers.</li>
<li>Use most efficient way of development. Agile Toolkit supports a lot of ways to enhance your software, but they are all optional. If you need to deliver software quickly, no environment beats Agile Toolkit.</li>
<li>If your working in teams, nothing is more frustrating than waiting for Design team to finish mock-ups or Backend team to re-implement a feature. Agile Toolkit allows JavaScript developer, UI developer, Designer and Back-end developer to work independently and then join their work together.</li>
</ul>
</p>
<?/?>
</div>
<div>
<?MoreInfo?>I am beginner, will I understand it?
<p>Yes. The core concept of Agile Toolkit is really simple. We have shown project code to people who have no development experience and they admit it's very clear and self-explanatory. </p>

<p>To start with Agile Toolkit you will need to go through Introduction and Tutorial. Afterwards you can simply mash-up your application from blocks.</p>
<p><i>Developing simple website with Agile Toolkit is certainly easier than doing it in plain PHP.</i></p>

<?/?>

<?MoreInfo?>I am hardcore developer / hacker. Will it restrict me?
<p>No. Agile Toolkit is based on several powerful concepts which can be further extended and personalized. This makes Agile Toolkit viable for a extremely big and complex projects, where other frameworks usually start either being too slow, or too stiff</p>

<p>As a power user you will find it much easier to build and deploy commercial software.</p>
<?/?>

<?MoreInfo?>Can I make website with ATK? Is it a CMS?
<p>Yes, this website is implemented on Agile Toolkit. In fact, you can download this website and even install it on your local computer. The content of this website is being stored in template files and is neatly combined with design templates.</p>

<p>Our <a target="_blank" href="http://agiletech.ie/">website for Agile Technologies</a> similarly uses Agile Toolkit, but there the content is stored in MySQL database and is editable on-line, which makes it a proper CMS system.</p>

<p>Unless you want to make a quick website for your client within 1 day time, Agile Toolkit will give you much greater flexibility and control over content, dynamic interaction and web2.0 of your website.
</p>

<p><a href="/doc/learn/design">Learn how to build a really simple website in Agile Toolkit</a><i class="atk-icon atk-icon-right atk-icon-arrows-right"></i></p>
<?/?>
</div>
</div>
<h2>Why another PHP framework?</h2>
<p>Agile Toolkit always had a different goals than other emerging PHP Frameworks. Most of those frameworks introduce themselves as a more efficient way to create a basic blog system. We believe there are plenty of blog packages and are aiming Agile Toolkit at more practical tasks right from the very start. It also brings an eco-system and culture of code to PHP.</p>

<p>Other frameworks seem to live in a collaborative space, where concepts are carried over with little innovation. New frameworks keep same practices as the old ones and only tune-up the performance. Agile Toolkit is seriously different. It has it's own heritage of 10 years of history — more than most of the other frameworks. However it's not holding to its ways. Web changing drastically and the current version of Agile Toolkit 4 is focused on requirements of modern Web Industry.</p>

<p>Agile Toolkit approach is very different. It does not attempt to be compatible with all the possible 3rd party code out there and it does not try to carry development practices in their usual way. It promotes efficiency and a multi-dimensional use of Object Oriented principles. Add-ons are built to maximally depend on built-in features, instead of trying to be self-sufficient. Simple things are simple to implement. Complicated things are also simple to implement.</p>

<p>Many developers decided to continue using Agile Toolkit for their own projects as well as Significant Commercial Projects for the simple reason — It's elegant. It shines in the hands of skill-full developer. It's exactly what have been missing from the PHP-based framework scene.</p>

<?MoreInfo?>How Agile Toolkit approach to User Interface compares with other UI frameworks?

<p>We have found that other frameworks often have one of the following 3 disadvantages:
<ul>
<li>Too difficult to use. Simple stuff takes lots of code. <a target="_blank" href="http://demo.vaadin.com/sampler#FormBasic">Vaadin</a>, <a target="_blank" href="http://akrabat.com/tutorial/simple-zend_form-example/">Zend</a></li>
<li>Distant from Web Experience. Not sufficiently flexible. <a target="_blank" href="http://mochaui.org/demo/">Mocha</a>, <a target="_blank" href="http://cappuccino.org/learn/demos/FlickrPhoto/index-deploy.html">Cappuchino</a></li>
<li>Lacking extensibility and ecosystem. Only good for small projects. <a target="_blank" href="http://demo.koolphp.net/Examples/KoolCalendar/DateTimePicker/DateTimePicker_FirstLook/index.php">KoolPHP</a>, <a target="_blank" href="http://www.sigmawidgets.com/products/sigma_visual/VisualJS/UIBuilder.html">Sigma</a></li>

<p>Agile Toolkit comes with default User Interface based on jQuery UI CSS framework. Firstly, it creates a easy way for developer to build his own controls and modify existing ones. Form implementation is much simpler than forms found in other frameworks, yet it is based on solid foundation of Agile Toolkit making those forms much more powerful.</p>

<p>With Agile Toolkit you will be able to push customization of your Web Application to new limits and the framework will help you along the way.</p>

<?/?>

<?MoreInfo?>I have noticed that Agile Toolkit does not have the "accordion" (or other) feature.
<p>Instead of bundling bunch of ready-to-use JavaScript widgets, we are making it really simple for our developers to use 3rd party jQuery and jQuery UI plugins. If you are in need of accordion, why not use one by jQuery UI?</p>
<p>
It only takes one line of code to activate the accordion. It is also really simple to build your own re-usable accordion which you can use throughout your application.
</p>
<?/?>


<h2>Gain and Give Back Philosophy</h2>
<p>Most of the frameworks are being put up free of charge and without any warranty for anyone to use. Agile Toolkit is build on gaining/giving principle. If you wish to use Agile Toolkit for free, then make your own software freely available. If you plan to receive money for your software, pay for the commercial license of Agile Toolkit
</p>


<h2>Commercial use</h2>
<p>For most of web developers the following is true: delivering results faster is better. That's exactly what Agile Toolkit is about. Recommend use of Agile Toolkit to your employer or client. They will only gain better results and you will be able to develop 3 projects instead of one in the same amount of time.</p>

<p>Good developers are short on time. They don't have time to write HTML for the new form or for the 20th time implement user authentication. Agile Toolkit takes it to the new level. If you are looking for an add-on, there is a good chance someone have already implemented it. Why reinvent the wheel every time?</p>


<?MoreInfo?>How much faster is to develop with Agile Toolkit?
<p>A project which would typically take 3 months to be developed from scratch on other PHP framework can be built in a single month with Agile Toolkit. When compared to development with no framework at all, the speed up might be up to 10 times.</p>

<p>If you are building a seriously large project, then benefits of Agile Toolkit will prevail even when your product is in production. Adding new functionality or changing existing functionality is much easier and simpler with Agile Toolkit.
</p>
<?/?>

<?MoreInfo?>What do I get from commercial version?
<p>
Apart from commercial distribution of Agile Toolkit you will receive one-year support as well as information on best practices in commercial software development. ATK Support team consists of senior (8+ year of experience) developers who know Agile Toolkit perfectly and can assist you by providing you with code samples, best practices and practical knowledge to you that you can implement in your software. Those developers have been working full-time for several years on developing Web Projects on Agile Toolkit.
</p>
<p>
To summarize, we will help you find the problem or solution within minutes instead of you spending 1-2 days trying to figure out the problem on-line or through community support. Most importantly we will also provide free code-review and suggest on best practices.
</p>
<?/?>

<?MoreInfo?>Where can I find developers familiar with Agile Toolkit?
<p>
Agile Toolkit is a new framework, yet it's gaining popularity very quickly. There are many individual developers and companies around the world who are undergoing training. We are willing to list all the vendors offering web development in Agile Toolkit in our "Commercial Vendors" section. If your company have produced web software in Agile Toolkit, contact us and we will list you on this website.
</p>

<p>
Agile Technologies who is the primary contributor to Agile Toolkit is also offering web project development services, developer training, add-on development and large web project facilitation. Find more information on <a href="http://agiletech.ie/" target="_blank">www.agiletech.ie</a>
</p>
<?/?>

