<?page_title_del?>Commercial<?/?>

<?seo_descr?>Purchase your commercial license to get full support, upgrades to new releases, emergency hot-fix builds, post your tickets and let us review your code<?/?>

<?seo_keywords?>commercial, license, AGPL, dual licensing, support<?/?>


<h1>Commercial use</h1>
<p>For most of web developers the following is true: delivering results faster is better. That's exactly what Agile Toolkit is about. Recommend use of Agile Toolkit to your employer or client. They will only gain better results and you will be able to develop 3 projects instead of one in the same amount of time.</p>

<p>Good developers are short on time. They don't have time to write HTML for the new form or for the 20th time implement user authentication. Agile Toolkit takes it to the new level. If you are looking for an add-on, there is a good chance someone have already implemented it. Why reinvent the wheel every time?</p>


<?MoreInfo?>How much faster is to develop with Agile Toolkit?
<p>A project which would typically take 3 months to be developed from scratch on other PHP framework can be built in a single month with Agile Toolkit. When compared to development with no framework at all, the speed up might be up to 10 times.</p>

<p>If you are building a seriously large project, then benefits of Agile Toolkit will prevail even when your product is in production. Adding new functionality or changing existing functionality is much easier and simpler with Agile Toolkit.
</p>
<?/?>

<?MoreInfo?>What do I get from commercial version?
<p>
Apart from commercial distribution of Agile Toolkit you will receive one-year support as well as information on best practices in commercial software development. ATK Support team consists of senior (8+ year of experience) developers who know Agile Toolkit perfectly and can assist you by providing you with code samples, best practices and practical knowledge to you that you can implement in your software. Those developers have been working full-time for several years on developing Web Projects on Agile Toolkit.
</p>
<p>
To summarize, we will help you find the problem or solution within minutes instead of you spending 1-2 days trying to figure out the problem on-line or through community support. Most importantly we will also provide free code-review and suggest on best practices.
</p>
<?/?>

<?MoreInfo?>Where can I find developers familiar with Agile Toolkit?
<p>
Agile Toolkit is a new framework, yet it's gaining popularity very quickly. There are many individual developers and companies around the world who are undergoing training. We are willing to list all the vendors offering web development in Agile Toolkit in our "Commercial Vendors" section. If your company have produced web software in Agile Toolkit, contact us and we will list you on this website.
</p>

<p>
Agile Technologies who is the primary contributor to Agile Toolkit is also offering web project development services, developer training, add-on development and large web project facilitation. Find more information on <a href="http://agiletech.ie/" target="_blank">www.agiletech.ie</a>
</p>
<?/?>



<div class="box metallic">
<h2>Let's talk!</h2>

<div class="text-right30" style="text-align: right">
<p>We would love to hear more about your plans for Agile Toolkit. Please fill in your contact information and we will be in touch with you.
</p>
</div>

<?$ContactForm?>
</div>
