<h1>Your Account</h1>

<div class="text-right30" style="text-align: right">
<button class="button orange">Log-in</button>
</div>

<p>Once you purchase commercial license, you will able to access additional information on this page:
</p>
<ul>
<li>Detailed information about your license</li>
<li>Support details</li>
<li>Downloads of Toolkit and commercial extensions</li>
</ul>


<div class="box metallic">
<h2>Let's talk!</h2>

<div class="text-right30" style="text-align: right">
<p>We would love to hear more about your plans for Agile Toolkit. Please fill in your contact information and we will be in touch with you.
</p>
</div>

<?$ContactForm?>
</div>
