<h1>Commercial</h1>

<p>In the world of today, web is the most popular medium for software deployment. Many developers have learned new languages for developing web applications such as PHP, Java, Ruby, Python etc.</p>

<p>Language itself is not sufficient to build a good web application so there are a choice of Libraries and Frameworks which help developers to deal with their tasks.</p>

<p>Our product exists to help developers code less and get results faster. Agile Toolkit allows developers to focus on writing business logic and not to worry about security, consistency and scalability.</br>
<a href="/about/features.html">See full list of Agile Toolkit features here</a>
</p>

<h3>About</h3>

<p>Agile Toolkit was development by <a href="http://www.agiletech.ie">Agile Technologies</a> in 2005 and has been evolving since. It is built on PHP5 programming language which is the most popular programming language for web applications.</p>

<p>Agile Toolkit is dual licensed and can be used for free for open source projects. If you would like however to hold to your Intellectual Property and receive extensive support for your development team, we give you Commercial License.</br>
<a href="/commercial/terms.html">Commercial License Terms</a></br>
<a href="/commercial/store.html">Read more about licensing</a>
</p>

<p>We provide range of services for our commercial clients to allow them to get best value from Agile Toolkit.</br>
<a href="/commercial/services.html">Read more about services provided</a></p>

