<h1><?page_title?>Documentation<?/?></h1>

<?seo_descr?>Read our simple Agile Toolkit introduction, view examples, screen casts or see full api reference<?/?>

<?seo_keywords?>api reference, php code examples, interactive introduction, screen casts, php, sample project, community<?/?>

<div id="getting-started-description">
<p>
Agile Toolkit is a high-performance web software framework written in PHP5. It introduces object-oriented web user interface designed for simplicity, customization and reusability. Agile Toolkit is ideal for commercial and open-source web software projects requiring interactivity, dynamics and unification of user interface.
</p>
<?$start?>
</div>
<div id="getting-started-core">
	<i class="big-icon icon-core"></i>
	<p>
    Hire a company or developer to write your software for you.
    See list of vendors who offer project, addon or theme
    development for Agile Toolkit. 

    <?$vendors?>
    </p>
</div>

<div class="hr"></div>

<div id="getting-started-shortcuts">

	<div class="box blue-noised" id="getting_started">
		<i class="big-icon icon-book"></i>
		<h2>Getting Started</h2>
        <p>
        Do you have few minutes to create your first Web Application using Agile Toolkit?
        </p>
        <p>
        Armed with your own copy of freshly downloaded Agile Toolkit you are just a few minutes away making your first web
        software, even if you have never made web application before. You will need a text editor and LAMP compatible
        webserver.
        </p>
		<p>Alternatively — you may take a look at the screencast or go through our practical examples section.</p>
        <p>
        <?$getting_started_buttons?>
        </p>
	</div>


	<div class="box blue-noised" id="examples">
		<i class="big-icon icon-book"></i>
		<h2>Learning from Examples</h2>
		<div>
			<p>Conventions - it's what makes Agile Toolkit simple. Once you can understand the conventions, even the features you were never used before will become familiar to you from the first glance. Our <a href="/examples/">Example section</a> is created to serve two purposes: to show the Agile Toolkit's features and to demonstrate how to solve daily problems web developers encounter.</p>
			<p>If screen casts is your thing, there are several available:
				<a href="http://www.youtube.com/watch?v=VJRvj_pPLlc" target="_blank">Getting started in 5 minutes</a>;
				<a href="http://files.agiletech.ie/atk4-zero-start" target="_blank">Starting a new project from Zero</a>;
				<a href="http://files.agiletech.ie/atk4-dashboard-ui-goodies" target="_blank">Working with Web UI and AJAX</a>
			</p>
			<p>If you are willing to look at what real project looks like, there are several you can examine:
				<a href="http://github.com/agiletech/colubris" target="_blank">Colubris&nbsp;-&nbsp;The Agile Team Tracker</a>;
				<a href="http://github.com/owencooney/salesjotter" target="_blank">SalesJotter&nbsp;-&nbsp;Lightweight CRM for you</a>;
				or you can even take the source of agiletoolkit.org website:
				<a href="http://github.com/atk4/atk4-web" target="_blank">Website Source&nbsp;-&nbsp;agiletoolkit.org</a>;
			</p>
		</div>
	</div>

	<div class="box blue-noised" id="community">
		<i class="big-icon icon-community"></i>
		<h2>The Community</h2>
		<div>
			<p>Our belief is that the next generation of Web software wil be developed through commercial and open-source communities like ours. We are here to give you the core foundation of Agile Toolkit and make it available for both open-source and commercial projects. We also have provided some of the addons. What remains for you to do is to think of a great idea and have it working within weeks. Many have already did so, so <a href="/develop/getinvolved.html">come and share experience, suggestions and tips with us</a>.</p>
			<p>Agile Toolkit is popular with SMEs, Startups and other companies. We want all of you to be successful and invite different companies to collaborate and integrate their on-line software. By using same platform it's much easier. If you are building or planning to build a website using Agile Toolkit - let us know and we will be able to offer you a lot of <a href="/commercial/">competitive benefits</a>.</p>
		</div>
	</div>

	<div class="box blue-noised" id="update">
		<i class="big-icon icon-re-use"></i>
		<h2>Staying up-to-date</h2>
		<div>
			<p>Agile Toolkit Team is on many different social sites to make it easy for you to follow us. If you are developer - watch atk4 repository on github. You will find other ways to follow us on the bottom of any page or <a href="/develop/getinvolved.html">get involved</a></p>
		</div>
	</div>

</div>
