<h1>Documentation</h1>
<p>Agile Toolkit approach, ideals and techniuqes are different from other libraries and frameworks. Once you are familiar with those, you will find working with Agile Tolokit <b>faster</b>, <b>simpler</b>, and more <b>addictive</b>. Our Interactive Introduction will go through concepts step-by-step and introduce you with the basics of Agile Toolkit.</p>
<?start?>
<button class="button green">Start Interactive Introduciton</button>
<?/?>
<p>For those willing to start from the core of the the toolkit, we offer to read through our <a href="/doc/ref">API Reference</a> or look at <a href="http://github.com/atk4/atk4/">Agile Toolkit Sources on GitHub.com</a></p>
<h2>Learning from Examples</h2>
<p>Patterns - it's what makes Agile Toolkit simple. Once you can see through the patterns, even the features you were never used before will become familiar to you from the first glance. Our <a href="/examples/">Example section</a> is created to serve two purposes: to show framework features and to demonstrate how to solve daily problems web developes encounter.</p>
<p>If screencasts is your thing, there are several available: 
	<a href="http://yutube.com/" target="_blank">Getting started in 5 minutes</a>; 
	<a href="http://files.agiletech.ie/atk4-zero-start" target="_blank">Starting a new project from Zero</a>; 
	<a href="http://files.agiletech.ie/atk4-dashboard-ui-goodies" target="_blank">Working with Web UI and AJAX</a>
</p>
<p>If you are willing to look at what real project looks like, there are several you can examine:
	<a href="http://github.com/agiletech/colubris" target="_blank">Colubris&nbsp;-&nbsp;The Agile Team Tracker</a>;
	<a href="http://github.com/owencooney/salesjotter" target="_blank">SalesJotter&nbsp;-&nbsp;Lightweight CRM for you</a>;
	or you can even take the source of www.atk4.com website: 
	<a href="http://github.com/atk4/atk4-web" target="_blank">Website Source&nbsp;-&nbsp;www.atk4.com</a>;
</p>

<h2>The Community</h2>
<p>Our belief is that the new generation of Web Software relies in the hands of our community. We are here to give you the core foundation of ATK and make it available for both open-source and commercial projects. We also have provided some of the addons and extenisons. What remains for you to do is to think of a great idea and have it working within weeks. Many have already did so, so <a href="http://forum.atk4.com/">come and share experience, suggestions and tips inside our forums</a>.</p>
<p>Agile Toolkit is popular with <a href="/users/">SMEs, Startups and other companies</a>. We want all of you to be successful and invite different companies to collaborate and integrate their on-line software. By using same platform it's much easier. If you are building or planning to build a website using Agile Toolkit - let us know and we will be able to offer you a lot of <a href="/commercial/">competetive benefits</a></p>
<h2>Staying up-to-date</h2>
<p>Agile Toolkit Team is on many different social sites to make it easy for you to follow us. If you are developer - watch atk4 repository on github. You will find other ways to follow us on the bottom of any page</p>

