<?$Content?>

<h1><?page_title?>Documentation<?/?></h1>

<?seo_descr?>Read our simple Agile Toolkit introduction, view examples, screen casts or see full api reference<?/?>

<?seo_keywords?>api reference, php code examples, interactive introduction, screen casts, php, sample project, community<?/?>

<div id="getting-started-description">
<p>
Agile Toolkit contains everything you need for your web development. It does not rely on any other libraries or frameworks.
Learning to develop with Agile Toolkit is exciting and interesting process.</p>

<p>
It's easy to start using Agile Toolkit. However, to become a power user it will take you days or even weeks. Your best guide
is <a href="<?page?>learn<?/?>">Learning "Agile Toolkit"</a> book. You can always find it on this site under Documentation / Learning section.</p>

</div>
<div id="getting-started-core">
	<i class="big-icon icon-core"></i>
	<p>
    Find a skilled developer for your web application.
    See list of vendors who offer project, addon or theme
    development for Agile Toolkit.
    </p>
    <p>
    <a href="<?page?>engage<?/?>">Agile Web Developer List</a>
	 </p>
    
   
</div>

<div class="hr"></div>

<div id="getting-started-shortcuts">

	<div class="box blue-noised" id="getting_started">
		<i class="big-icon icon-book"></i>
		<h2>Other ways to learn</h2>
        <p>
		If you preferr to watch and listen, you can look through few of our fast-paced <a
		href="<?page?>doc/sc<?/?>">screencasts</a> (they are not using most up-to-date version of Agile Toolkit). You will
		find out how to do simple tasks or create your new application completely from scratch.
		</p>

		<p>
		For some "example" applications you should take a look at <a href="<?page?>doc/project/inviteme<?/?>">Invite-me
		Project</a>. It migth come handy next time Google might be offering invite-only service for requesting and sharing
		invites. There is also <a href="<?page?>doc/project/codepad<?/?>">Code-pad</a> if you want to show and share your code.</p>

		<p>
		There are full high-scale applications available under Open-Source license such as <a href="<?page?>doc/project/colubris<?/?>">Colubris Project</a>. This
		project implements advanced time-management system. <a href="<?page?>doc/project/atk4web<?/?>">This website is also
		written in Agile Toolkit</a>. It is more focused on presentation of information rather than interraction. 
		</p>

        <p>
		We are going to add more tutorials soon into our <a href="<?page?>learn/tutorial<?/?>">Tutorial section</a> soon,
		those who know Symfony can get good idea about how Agile Toolkit compares by reading through <a
		href="<?page?>learn/tutorial/jobeet<?/?>">Agile Jobeet</a> tutorial.
        </p>
	</div>



	<div class="box blue-noised" id="community">
		<i class="big-icon icon-community"></i>
		<h2>The Community</h2>
		<div>
			<p>Our focus was to finish documentation and API before we start working on community. We do realise that
			community pages are very important and comments and discussion boards are almost here.</p>

			<p>Meanwhile, register on StackOverflow.com and use "atk4" tag to <a
			href="http://stackoverflow.com/questions/tagged/atk4">ask your question</a> related to Agile Toolkit.
			Using search is also quite useful for finding what you need. If you can't found something, please use <a
			href="<?page?>contact<?/?>">contact form</a> and we will help you over email (for free).</p>

			<p>You can also fork Agile Toolkit on GitHub or post problems on our Issue Tracker.</p>
		</div>
	</div>

	<div class="box blue-noised" id="update">
		<i class="big-icon icon-re-use"></i>
		<h2>Staying up-to-date</h2>
		<div>
			<p>There are many things coming to Agile Toolkit, it's extensions and the documentation website. You can follow
			the upates by looking up on our <a href="<?page?>whatsnew<?/?>">What's new?</a> page or reading through <a
			href="http://agiletoolkit.org/blog">Agile Toolkit Blog</a>.
		</div>
	</div>

</div>
