<h1><?page_title?>Downloads<?/?></h1>

<?seo_descr?>Download latest Agile Toolkit version, sample project or addons<?/?>

<?seo_keywords?>download, sample project, sample website, addons, add-ons, packages<?/?>
<div class="atk-layout c2" id="download-grid">
	<div>
		<h2>Packages</h2>
		<ul>
		<li><a class="download" id="download1" href="/download/success?file=atk4-sample-project-4.0.1.zip"><b>atk4-sample-project</b>-4.0.1.zip</a>
		<p>Download, unpack into the webroot and open in your browser. Sample project comes with both atk4 and atk4-addons and includes heavily documented files which will help you understand the structure of the project and get started. Recommended to new users.</p></li>
		
		<li><a class="download" id="download2" href="/download/success?file=atk4-sample-website-4.0.1.zip"><b>atk4-sample-website</b>-4.0.1.zip</a>
		<p>A really simple website using atk4. Download this if you are a designer or are just starting with PHP. This package starts with the basic stuff.</p></li>
		
		<li><a class="download" id="download3" href="/download/success?file=atk4-4.0.1.zip"><b>atk4</b>-4.0.1.zip</a>
		<p>A stand-alone installation of Agile Toolkit core. Extract into your project directory. You can always replace your atk4 directory with more recent version.</p></li>
		
		<li><a class="download" id="download4" href="/download/success?file=atk4-addons-4.0.1.zip"><b>atk4-addons</b>-4.0.1.zip</a><p>A stand-alone package containing some of the contributed addons for Agile Toolkit.</p></li>
		</ul>

	</div>
	<div>
		<h2>Git Repository</h2>
		<ul>
		
		<li><b>master</b> (Download <a href="https://github.com/atk4/atk4/zipball/master">.zip</a> or <a href="https://github.com/atk4/atk4">browse</a>)<p>this branch contains the most recent stable branch of Agile Toolkit.</p>
		<li><b>devel</b>  (Download <a href="https://github.com/atk4/atk4/zipball/devel">.zip</a> or <a href="https://github.com/atk4/atk4/tree/devel">browse</a>)<p>development branch of Agile Toolkit. This repository should be safe to use, although some of the features might not be documented.</p>
		
		</ul>
	</div>
</div>
<div class="hr hr-small"></div>
<h4>Agile Toolkit 4.0.1</h4>
<p>Agile toolkit 4.0.1 is the first stable release of 4.0 branch. You do not need any other frameworks to use Agile Toolkit. Simply download the sample-project or sample-website package and start editing.</p>
<p>If you would like to download our logo, please go to <a href="/about">About</a> section.</p>
