<h1><?page_title?>Downloads<?/?></h1>

<?seo_descr?>Download latest Agile Toolkit version, sample project or addons<?/?>

<?seo_keywords?>download, sample project, sample website, addons, add-ons, packages<?/?>
<div class="atk-layout c2" id="download-grid">
	<div>
		<h2>Stable Packages (4.0.x)</h2>
		<ul>
		<li><a class="download" id="download1" href="/download/success?file=atk4-example-4.0.3.zip"><b>atk4-example</b>-4.0.3.zip</a>
		<p>Agile Toolkit + Agile Toolkit Addons (includes MVC) + Example project. Contains everything to get started.</p>
		</li>
		
		<li><a class="download" id="download3" href="/download/success?file=atk4-4.0.3.zip"><b>atk4</b>-4.0.3.zip</a>
		<p>Core of Agile Toolkit. Extract into your project directory replacing <b>atk4</b> folder.</p></li>
		
		<li><a class="download" id="download4" href="/download/success?file=atk4-addons-4.0.3.zip"><b>atk4-addons</b>-4.0.3.zip</a>
		<p>A stand-alone package containing addons and extensions for Agile Toolkit (Including Model support).</p></li>

		<li><a class="download" id="download4" href="https://github.com/atk4/atk4">Browse <b>stable</b> source on GitHub</a>
		<li><a class="download" id="download4" href="<?page?>whatsnew<?/?>">Recent Changes</a></li>

		</ul>
	</div>
	<div>
		<h2>Development / Git repository</h2>
		<ul>

		<li><a class="download" id="download1" href="/download/success?file=atk4-example-4.1b1.zip"><b>atk4-example</b>-4.1b1.zip</a>
		<p>Agile Toolkit + Agile Toolkit Addons (includes MVC) + Example project. Contains everything to get started.</p>
		</li>
		
		<li><a class="download" id="download3" href="/download/success?file=atk4-4.1b1.zip"><b>atk4</b>-4.1b1.zip</a>
		<p>Core of Agile Toolkit. Extract into your project directory replacing <b>atk4</b> folder.</p></li>
		
		<li><a class="download" id="download4" href="/download/success?file=atk4-addons-4.1b1.zip"><b>atk4-addons</b>-4.1b1.zip</a>
		<p>A stand-alone package containing addons and extensions for Agile Toolkit (Including Model support).</p></li>

		<li><a class="download" id="download4" href="https://github.com/atk4/atk4/tree/devel">Browse <b>development</b> source on GitHub</a>
		<li><a class="download" id="download4" href="<?page?>whatsnew<?/?>">Recent Changes</a></li>
	</div>
</div>
<div class="hr hr-small"></div>
<h3>Starting New Project with Git</h3>
<p>Agile Toolkit development is hosted on GitHub. If you plan to use GitHub too, it's much easier to clone
"atk4-example" project instead of downloading a ZIP. 
<pre>
git clone git://github.com/romaninsh/atk4-example.git myproject
git submodule init
git submodule update
</pre>
Next create empty directory hosting <a href="https://github.com/repositories/new">using GitHub</a> or other Git
server.
<pre>
git remote rm origin
git remote add origin git@github.com:yourname/yourproject.git
git push -u origin master
</pre>
<p>Continue your development. "git submodule update" will update Agile Toolkit</p>

<div class="hr hr-small"></div>
<h3>Recent Releases</h3>

<h4>Agile Toolkit 4.0.3</h4>
<p>Agile toolkit 4.0.3 fixed bug 
		<a href="https://github.com/atk4/atk4/issues/9">https://github.com/atk4/atk4/issues/9</a> which was showing on new installation mechanism (without .htaccess)</p>
<h4>Agile Toolkit 4.0.2</h4>
<p>Agile toolkit 4.0.2 introduces minor improvements over 4.0.1. Bundled version of jQuery and jQuery UI is updated. Example now works much better on wide range of LAMP environments. Agile Toolkit will now periodically check for new versions and notify you if there is update.</p>
<h4>Agile Toolkit 4.0.1</h4>
<p>Agile toolkit 4.0.1 is the first stable release of 4.0 branch. You do not need any other frameworks to use Agile Toolkit. Simply download the sample-project or sample-website package and start editing.</p>
<p>If you would like to download our logo, please go to <a href="/about">About</a> section.</p>
