<!-- <h1><?page_title?>Downloads<?/?></h1> -->

<?seo_descr?>Download latest Agile Toolkit version, sample project or addons<?/?>

<?seo_keywords?>download, sample project, sample website, addons, add-ons, packages<?/?>
<div class="atk-layout c2" id="download-grid">
	<div>
		<h2>Stable Packages (4.0.x)</h2>
		<ul>
		<li><a class="download" id="download1" href="/download/success?file=atk4-example-4.0.3.zip"><b>atk4-example</b>-4.0.3.zip</a>
		<p>Download, unpack into the webroot and open in your browser. Sample project comes with both atk4 and atk4-addons
		and includes heavily documented files which will help you understand the structure of the project and get
		started.</p>
		<p><b>Recommended to new users</b>.</p>
		</li>
		
		<li><a class="download" id="download3" href="/download/success?file=atk4-4.0.3.zip"><b>atk4</b>-4.0.3.zip</a>
		<p>A stand-alone installation of Agile Toolkit core. Extract into your project directory replacing previous verison
		of atk folder.</p></li>
		
		<li><a class="download" id="download4" href="/download/success?file=atk4-addons-4.0.3.zip"><b>atk4-addons</b>-4.0.3.zip</a>
		<p>A stand-alone package containing some of the contributed addons for Agile Toolkit.</p></li>
		</ul>

	</div>
	<div>
		<h2>Development / Git repository</h2>
		<ul>
		
		<li><b>master</b> (Download <a href="https://github.com/atk4/atk4/zipball/master">.zip</a> or <a href="https://github.com/atk4/atk4">browse</a>)<p>this branch contains the most recent stable branch of Agile Toolkit.</p>
		<li><b>devel</b>  (Download <a href="https://github.com/atk4/atk4/zipball/devel">.zip</a> or <a href="https://github.com/atk4/atk4/tree/devel">browse</a>)<p>development branch of Agile Toolkit. This repository should be safe to use, although some of the features might not be documented.</p>
		
		</ul>

        <h3>What's new?</h3>
        <p>See <a href="<?page?>whatsnew<?/?>">What's new page</a> for list of changes in 4.1 branch.</p>
	</div>
</div>
<div class="hr hr-small"></div>
<h4>Agile Toolkit 4.0.3</h4>
<p>Agile toolkit 4.0.3 fixed bug 
		<a href="https://github.com/atk4/atk4/issues/9">https://github.com/atk4/atk4/issues/9</a> which was showing on new installation mechanism (without .htaccess)</p>
<h4>Agile Toolkit 4.0.2</h4>
<p>Agile toolkit 4.0.2 introduces minor improvements over 4.0.1. Bundled version of jQuery and jQuery UI is updated. Example now works much better on wide range of LAMP environments. Agile Toolkit will now periodically check for new versions and notify you if there is update.</p>
<h4>Agile Toolkit 4.0.1</h4>
<p>Agile toolkit 4.0.1 is the first stable release of 4.0 branch. You do not need any other frameworks to use Agile Toolkit. Simply download the sample-project or sample-website package and start editing.</p>
<p>If you would like to download our logo, please go to <a href="/about">About</a> section.</p>
