<?$Content?>

<h1>This documentation is coming in 4.2 release</h1>
<div class="g-row" id="doc-ref">
	<div class="g-6">

        <p>While Agile Toolkit already have <a href="http://agiletoolkit.org/blog/progress-in-2011/">thousands of users</a>
        we are working to make it even better. We have formed a developer group who is collaborating, testing and providing
        feedback for the up-coming 4.2 release.</p>
        
        <p>If you are willing to join and share your ideas, you will find our group here: <a
        href="http://groups.google.com/group/agile-toolkit-devel"
        target="_blank">http://groups.google.com/group/agile-toolkit-devel</a>

    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Table of Contents</b>
			<p>Select section</p>
            <?$toc?>
        </div>
    </div>
</div>
