<?$Content?>

<h1>There are bad news and good news!</h1>
<div class="g-row" id="doc-ref">
	<div class="g-6">

        <p>The bad news are - the topic you have requested does not exist yet. Sorry, we are adding more content in the evenings.</p>

        <p>The good news are: <b>we've got our chat room</b> on: <a href="http://chat.stackoverflow.com/rooms/2966/agile-toolkit-atk4"><h3>chat.stackoverflow.com</h3></a>

        <p>Join us and we will help you out with the missing info.</p>

    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Table of Contents</b>
			<p>Select section</p>
            <?$toc?>
        </div>
    </div>
</div>
