<script>
$(function(){

	$('#tabs').tabs();

});
</script>


<div class="demo">

<div id="tabs" class="big-tabs">
	<ul>
		<li><a href="#tabs-1">Web Development Companies</a></li>
		<li><a href="#tabs-2">Freelancers</a></li>
		<li><a href="#tabs-3">Training and Consultancy</a></li>
	</ul>
	<div id="tabs-1">
		<table class="company-grid">
			<tr>
				<td>
					<a href="http://www.agiletech.ie" class="company-logo"><img src="<?template?>images/logo-agiletech.png<?/?>" alt="" /></a>
					<p>The same team who delivered Agile Toolkit and this website makes their living as project development
					company based in London, UK.</p><p>Agile Technologies specialize in SaaS application development for start-up
					companies in English-speaking. In addition to development, they offer help and support in building your
					new internet start-up SaaS / PaaS infrastructure.</p>
					<p><a href="https://docs.google.com/present/view?id=ah7q2fghb38h_4f3t8kdhr" target="_blank">Watch a short
					service presentation from Agile Technologies</a></p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>London, UK</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a
                    href="http://www.agiletech.ie/">www.agiletech.ie</a></div>
				</td>
				<td>
					<a href="http://www.cgvakindia.com" class="company-logo"><img src="<?template?>images/logo-cgvak.png<?/?>" alt="" /></a>
					<p>Awaiting description...
                    </p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>India</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a
                    href="http://www.cgvakindia.com/">www.cgvakindia.com</a></div>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.stigasoft.com" class="company-logo"><img src="<?template?>images/logo-stigasoft.png<?/?>" alt="" /></a>
					<p>Stigasoft is an IT &amp; ITeS services provider with strong customer-focus and solution-orientation.
					Stigasoft was the first to come forward, train in Agile Toolkit and announce that they are ready to take
					on projects developent on Agile Toolkit.</p>

					<p>Additionally Stigasoft also offers serrvices as Microsoft Gold Partners and also have strategic
					partnerships with IBM, Red Hat and Drupal</p>

					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>India</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a
                    href="http://www.stigasoft.com/">www.stigasoft.com</a></div>
				</td>
				<td>
					<a href="http://www.bdsa.biz" class="company-logo"><img src="<?template?>images/logo-bdsa.png<?/?>" alt="" /></a>
					<p>BDSA is Latvia-based web development company focusing on heavily-interractive web applications for
					government and private sector. BDSA will build any document-management, process flow and on-line data
					control on-line software at a very competetive price.
					</p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>Riga, Latvia</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a
                    href="http://www.bdsa.biz/">www.bdsa.biz</a></div>
				</td>
			</tr>
		</table>
		<div class="box">
			If your company offers development services in Agile Toolkit we will be delighted to list you here. Let us know
			more by <a href="javascript: $('#contact-button').click()">contacting us</a>.
		</div>
	</div>
	<div id="tabs-2">
		<table class="company-grid">
			<tr>
				<td>
					<table class="freelancer">
						<tr>
							<td align="center">
								<img src="<?template?>images/romans-malinovskis.jpg<?/?>"/>
							</td>
							<td width="100%">
								<h6>Romans Malinovskis</h6>
						        <i class="atk-icon atk-icon-basic-plus"></i><a href="http://www.agiletech.ie/contact">Hire</a>
								<p>15 years of web development experience as a software lead / architect and a core contributor to Agile Toolkit framework. Has extensive library of private add-ons.</p>
								<div class="details narrow">
									<div><b>Available:</b><em>short-term projects</em></div>
									<div><b>Rate:</b><em>50£/h or per-project</em></div>
									<div><b>Located:</b><em>London</em></div>
									<div><b>Skills:</b><em>Architect, development, add-ons, performance, security, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="freelancer">
						<tr>
							<td width="">
								<img src="<?template?>images/no-photo.png<?/?>"/>
							</td>
							<td width="100%">
								<h6>Janis Volbergs</h6>
								<i class="atk-icon atk-icon-basic-plus"></i><a href="http://www.agiletech.ie/contact">Hire</a>
								<p>Web developer for 11 years. For 2 years now have been developing and managing projects in
                                Agile Toolkit.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em><a href="http://www.agiletech.ie/contact">Contact for details</a></em></div>
									<div><b>Located:</b><em>Riga, Latvia</em></div>
									<div><b>Skills:</b><em>Project management, development, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/no-photo.png<?/?>"/>
							</td>
							<td width="100%">
								<h6>Prashanth Pratapagiri</h6>
                                <i class="atk-icon atk-icon-basic-plus"></i><a href="http://www.cgvakindia.com/contact_us.html">Hire</a>
								<p>Extensive knowledge of different frameworks. Developed few projects in Agile Toolkit and
                                would love to work on your projects.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em><a href="http://www.cgvakindia.com/contact_us.html">Contact for details</a></em></div>
									<div><b>Located:</b><em>India</em></div>
									<div><b>Skills:</b><em>Developer</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/no-photo.png<?/?>"/>
							</td>
							<td width="100%">
								<h6>Mayack</h6>
						        <i class="atk-icon atk-icon-basic-plus"></i><a href="mailto:me@mayack.com">Hire</a>
								<p>Long-time pixel-perfect designer for many websites based on Agile Toolkit including this
                                one. Well familiar with all stages of design from wireframes to delivery of plug-and-use
                                theme for Agile Toolkit.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em><a href="mailto:me@mayack.com">Contact for details</a></em></div>
									<div><b>Portfolio:</b><em><a href="http://www.mayack.com"
									target="_blank">www.mayack.com</a></em></div>
									<div><b>Located:</b><em>London</em></div>
									<div><b>Skills:</b><em>Web/UX Designer</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div class="box">If you have been developing (or designing) using Agile Toolkit and are willing to get more contract
		work, we will be delighted to list you here. Please <a href="javascript: $('#contact-button').click()">contact
		us</a> with more information about yourself.</div>
	</div>
	<div id="tabs-3">
        <h3>Get up to speed with Agile Toolkit</h3>
		<p>Agile Technologies offers consultancy and training services for your in-house Agile Toolkit-based development.
        If you are about to start your first project with Agile Toolkit and haven't had extensive experience with
        Object-oriented web development, our team of senior code-ninjas are here to help.</p>

        <p>Our assistance with your developer training, application planning, technical design will set you on the right path
        with Agile Toolkit project. If you happen to run into trouble, we will be here to help you out and resole any issues
        related with security, scalability, performance, deployment and maintenance.</p>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a
                    href="http://www.agiletech.ie/">www.agiletech.ie</a></div>

	</div>
</div>

</div><!-- End demo -->
