<script>
$(function(){

	$('#tabs').tabs();

});
</script>


<div class="demo">

<div id="tabs" class="big-tabs">
	<ul>
		<li><a href="#tabs-1">Web Development Companies</a></li>
		<li><a href="#tabs-2">Freelancers</a></li>
		<li><a href="#tabs-3">Training</a></li>
	</ul>
	<div id="tabs-1">
		<table class="company-grid">
			<tr>
				<td>
					<a href="http://www.agiletech.ie" class="company-logo"><img src="<?template?>images/logo-agiletech.png<?/?>" alt="" /></a>
					<p>Offers complete development of your web project based on a quoted budget or development of a particular module or add-on. Provides consultancy and training. Take advantage of hiring developers behind the Agile Toolkit and support the future of our framework.</p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>Located in London, United Kingdom</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a href="mailto:info@agiletech.ie">info@agiletech.ie</a></div>
				</td>
				<td>
					<a href="http://www.agiletech.ie" class="company-logo"><img src="<?template?>images/logo-stigasoft.png<?/?>" alt="" /></a>
					<p>Quote-based development in Agile Toolkit with great resource scaling and affordable pricing.</p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>Located in India</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a href="mailto:support@microsoft.com">support@microsoft.com</a></div>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.agiletech.ie" class="company-logo"><img src="<?template?>images/logo-agiletech.png<?/?>" alt="" /></a>
					<p>Offers complete development of your web project based on a quoted budget or development of a particular module or add-on. Provides consultancy and training. Take advantage of hiring developers behind the Agile Toolkit and support the future of our framework.</p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>Located in London, United Kingdom</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a href="mailto:info@agiletech.ie">info@agiletech.ie</a></div>
				</td>
				<td>
					<a href="http://www.agiletech.ie" class="company-logo"><img src="<?template?>images/logo-stigasoft.png<?/?>" alt="" /></a>
					<p>Quote-based development in Agile Toolkit with great resource scaling and affordable pricing.</p>
					<div><i class="atk-icon atk-icon-office-flag atk-icons-nobg"></i>Located in India</div>
					<div><i class="atk-icon atk-icon-nav-mail atk-icons-nobg"></i><a href="mailto:support@microsoft.com">support@microsoft.com</a></div>
				</td>
			</tr>
		</table>
		<div class="box">
			If your company uses Agile Toolkit to develop and can offer 3rd party development services, we will be delighted to list you here. While our automatic system is in the work, please send information through our contact form.
		</div>
	</div>
	<div id="tabs-2">
		<table class="company-grid">
			<tr>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/romans-malinovskis.jpg<?/?>"/>
							</td>
							<td width="100%">
								<h6>Romans Malinovskis</h6>
								<p>15 years of web development experience as a software lead / architect and a core contributor to Agile Toolkit framework. Has extensive library of private add-ons.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em>50£/h or per-project</em></div>
									<div><b>Located:</b><em>East London</em></div>
									<div><b>Skills:</b><em>Architect, development, add-ons, performance, security, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/romans-malinovskis.jpg<?/?>"/>
							</td>
							<td width="100%">
								<h6>Romans Malinovskis</h6>
								<p>15 years of web development experience as a software lead / architect and a core contributor to Agile Toolkit framework. Has extensive library of private add-ons.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em>50£/h or per-project</em></div>
									<div><b>Located:</b><em>East London</em></div>
									<div><b>Skills:</b><em>Architect, development, add-ons, performance, security, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/romans-malinovskis.jpg<?/?>"/>
							</td>
							<td width="100%">
								<h6>Romans Malinovskis</h6>
								<p>15 years of web development experience as a software lead / architect and a core contributor to Agile Toolkit framework. Has extensive library of private add-ons.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em>50£/h or per-project</em></div>
									<div><b>Located:</b><em>East London</em></div>
									<div><b>Skills:</b><em>Architect, development, add-ons, performance, security, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="freelancer">
						<tr>
							<td>
								<img src="<?template?>images/romans-malinovskis.jpg<?/?>"/>
							</td>
							<td width="100%">
								<h6>Romans Malinovskis</h6>
								<p>15 years of web development experience as a software lead / architect and a core contributor to Agile Toolkit framework. Has extensive library of private add-ons.</p>
								<div class="details narrow">
									<div><b>Rate:</b><em>50£/h or per-project</em></div>
									<div><b>Located:</b><em>East London</em></div>
									<div><b>Skills:</b><em>Architect, development, add-ons, performance, security, consultancy.</em></div>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div class="box">If you have been developing (or designing) using Agile Toolkit and are willing to get more contract work, we will be delighted to list you here. While our automatic system is in the work, please send information through our contact form.</div>
	</div>
	<div id="tabs-3">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>

</div><!-- End demo -->