<h1>Intersection of Business and UI logic</h1>
<?Execute?>
$this->api->dbConnect();
<?/?>

<p>What happens when you combine the simplest way of writing Business Logic with the simplest way to write User Interface? A Simplest way to write web software. That's what Agile Toolkit is about. It is about making you more efficient with your time.</p>

<h3>Views populated from the Model</h3>
<p>You might have wondered, where are Controllers in Agile Toolkit? They are the ones which make Views recognize Models. But that's not their only job. For now, let's see what happens if we intersect Form with Model:</p>

<?Example?>
$form = $page->add('MVCForm');
$form->setModel('User');
<?/?>

<p>If you have used Model-View-Controller approach before, you will need to make an amendment. Everything is an object. (View = object, Model = object. Controller is also an object). In most cases we are satisfied with the existing class without even re-defining it.</p>

<h2>Managing Table Contents. Object-Oriented style</h2>
<p>Still thinking about other framework which comes with a command-line tool producing hundreds line of code just to build a management interface for creating, editing and deleting table entries? Let's fix that.</p>

<?Code?>
$crud = $page->add('CRUD');
$crud->setModel('User',null,array('name','gender','manager'));
<?/?>
<?Execute?>
$crud = $page->add('CRUD');
$crud->setModel('User',null,array('name','gender','manager'));
<?/?>

<p>What just happened? In two lines of code, we've added a new CRUD view which relies on other Views as a building blocks and creates a perfect, fully-AJAX-ified table management solution. And because this CRUD View is implemented on top of Agile Toolkit, with the use of objects you have extreme power of enhancing it such as adding calculated fields, more buttons, pagination, ordering, sub-selects. You will learn to exploit those features in the learning guide but now there is one few more important things to mention about Agile Toolkit</p>


