<script src="<?template?>/css/sticky-bar.js<?/?>"></script>
<script>

	$(function(){
	
		$('.breadcrumb-item').mouseover(function(){
		
			$(this).find('.dropdown').show();
			$(this).find('em').addClass("blue-noised");
		
		}).mouseout(function(){
		
			$(this).find('.dropdown').hide();
			$(this).find('em').removeClass("blue-noised");
		
		});
		
				
<!-- 		$('.example-limited>p>code').prepend('<div class="example-expander">View the rest</div>'). -->
		
		$('.example-expander>div>span').click(function(){
		
			$(this).parents('.example-wrap').css("height","auto").addClass("example-expanded");
			$(this).html('<i class="ui-icon ui-icon-minus"></i>Hide Code')
		});
		
		
		
	});

</script>
<div class="sticky-bar-dock" id="introduction-bar-dock"></div>
<div class="sticky-bar-absolute sticky-bar" id="introduction-bar">
	<div class="gs-wrap breadcrumb clearafter">
<!-- 		<div class="breadcrumb-item breadcrumb-start"><span>Interactive<br/>Introduction</span></div> -->
		<div class="breadcrumb-item current"><a href="#1" class="blue-noised"><i class="big-icon icon-column"></i><span>User Interface</span></a></div>
		<div class="breadcrumb-item"><a href="#2"><i class="big-icon icon-jerrycan"></i><span>JavaScript</span></a></div>
		<div class="breadcrumb-item"><a href="#4"><i class="big-icon icon-gears"></i><span>Core API</span></a></div>
		<div class="breadcrumb-item"><a href="#3"><i class="big-icon icon-lego"></i><span>MVC</span></a></div>
		<div class="breadcrumb-item"><a href="#5"><i class="big-icon icon-roadsign"></i><span>Web Store</span></a></div>
	</div>
</div>


<h1>The Universe of Agile Toolkit</h1>

<img style=" float : right; padding-left: 2em" src="<?template?>images/ugly_images/atk4-universe.png<?/?>"/>

<p>Agile Toolkit is a vertical web software development and deployment framework focused on simplicity and abstraction. Toolkit is notable for it's approach such as avoidance of unnecessary features, use of object-oriented design, HTML rendering phase.</p>


<h3>The "Core Framework"</h3>
<p>Many of the PHP frameworks such as CodeIgniter, Symfony, Yii focus primarily on the back-end of your application. In contrast, Agile Toolkit has it's own foundation, but it's purpose is building the upper layer of the whole universe. For those who wonder - yes you can write SQL queries in Agile Toolkit, but if you use it well, you will never need to.</p>

<p>In this section we will quickly skip over the essential features, just to show you that they are there and they are really powerful</p>

<h4>DSQL - Agile's approach to Object Relational Management</h4>

<p>Dynamic SQL is the Object-Oriented API to your data-base. Because communication with the SQL databases is still using old SQL language and direct use of SQL is source to many injections, cross-compatibility problems and performance issues, DSQL was introduced in Agile Toolkit around 2004 then reimplemented in early 2012 (4.2). Here is a sample syntax:</p>

<?Code?>
// executes "select name from user where id=$id" query
$name = $this->api->db->dsql()
    ->table('user')
    ->where('id',$id)
    ->field('name')
    ->getOne();

// can do expression too. Works as iterator
foreach($this->api->db->dsql()->expr('show tables') as $row){
  echo pop($row)."\n";
}

// Sub-queries and much more
$q=$this->api->db->dsql();
$q->field(
  $q->dsql()->table('book')->where('author_id', $q->getField('id'))->field('count(*)'),
  'book_cnt'
);

<?/?>

<h2>GOOD NEWS! Most likely you won't need to use queries</h2>
<p>All that syntax is really powerful and is a serious competition to alternative ORM libraries, but Agile Toolkit does not stop here. Now that the SQL is abstracted,
into object, it is going to be further abstracted. The next level of abstraction is a "Model".</p>

<p>If you have read this far, you should get used to the idea of abstracting. Agile Toolkit does that all the time, each level simplifies things and it's being built on top of the previous layer.</p>

<h3>Defining Model</h3>
<p>Model is a business entity in many modern frameworks. Those other frameworks, however, would quickly establish a pattern of having one model per database table. Can you spot a problem there? Database is NOT object-oriented. As a result, models in most PHP frameworks are typically non-object oriented and are simple blobs of non-intelligent machine-generated PHP code just to satisfy your IDE's code-hinting demands.</p>

<p>Agile Toolkit can do Models too. The implementation is quite sophisticated and can take make use of joins and mandatory conditions</p>

<?Code?>
class Model_User extends Model_Table {
    public $table='user';
    function init(){
        parent::init();
        $this->addField('name');
        $this->addField('age')->type('int')->defaultValue(17);
        $this->addField('is_admin')->type('boolean');

        $this->addRelation('profile_id')
            ->setModel('Profile')
            ->importField('name','proflie_name');
    }
}
<?/?>

<p>But models in Agile Toolkit are laid out the class hierarchy, where one model may extend another, add conditions, fields, joins or calculated columns</p>

<?Code?>
class Model_Admin extends Model_User {
    function init(){
        parent::init();
        $this->setMasterField('is_admin',true);
    }
}
<?/Code?>

<p>As you define relations, conditions and other parameters on your model, it relies on power of the DSQL to build a queries dynamically as you operate with your model</p>

<h4>Your code. Simplified.</h4>

<?Code?>
$m=$this->add('Model_Admin');

$m->set('name','john');
$m->set('proflie_name','John Smith');
$m->save();

<?/?>

<p>It might look simple, but when the save() is called, the entries will be inserted into tables for "user" and "profile" and link will be established, value 'Jonh Smith' will be written into 'profile' table and 'user' table will receive default value for age and the "is_admin" boolean value will be automatically set to true.</p>

<p>What's important is that the database-specific implementation is hidden from you. The model class might have used MongoDB or Redis instead.</p>

<?$Next?>
