<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-6">
        <h3>Learning "Agile Toolkit" Book</h3>
        <p>Welcome to the extensive introduction to Agile Toolkit. This book will guide you through practical applications of
		Agile Toolkit and will explain how it works in great detail.</p>

		<p>We offer Agile Toolkit to you for free as an Open-Source project. If you like Agile Toolkit, please tell your
		friends. The more users we have, the faster Agile Toolkit will grow.</p>

        <h3>How to use this book?</h3>
        <p>This book is full of examples. And guess what!? They are all LIVE. In many cases, code is executed and result is
		displayed side-by side. But the best part is — you can get them to work on your local installation of Agile Toolkit
		simply by copy-pasting them into your page/index.php file.</p>

		<p>After the introduction to general principle of Object-Oriented  web development we encourage you to download and
		install Agile Toolkit on your server or local computer. This guide requires you to have version 4.1 of Agile Toolkit
		or higher. Due to a different theme settings, examples will look slightly different on your machine, but they should
		work flawlessly</p>
    </div>
	<div class="g-6">
        <p><center>
                <a href="<?page?>intro<?/?>" class="button blue">I'm short on time! Just show me the Intro</a>
                </center></p>

		<div class="ref-item box blue-noised">
			<b>Learning Agile Toolkit</b>
			<p>Select section to get started</p>
            <?$toc?>
        </div>
    </div>
</div>
<?$Next?>
