<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-6">
        <h3>Intro &rarr; Learn &rarr; Reference</h3>
        <p>Documentation for Agile Toolkit is organized into a tree-like structure for better navigation. There are 3 main
        sections of documentation: Introduction, Learning and Reference. You can always see where you are by looking at
        the bread-crumb bar on the top of any documentation page.
        </p><p>Right now you are in the "Learning" section.</p>

        <h3>Try as you go</h3>
        <p>After the introduction to object-oriented web, take your time to install Agile Toolkit on your local computer. It
        takes few minutes and you will be able to try out all the amazing examples yourself.</p>

        <?$Next?>

    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Learning Agile Toolkit</b>
			<p>Select section to get started</p>
            <?$toc?>
        </div>
    </div>
</div>
