
<h1>Learning "Agile Toolkit" Book</h1>


<div class="g-row" id="doc-ref">
	<div class="g-6">
        <p><center>
                </center></p>

		<div class="ref-item box blue-noised">
        	  <b>Table of Contents</b>
                  <div style="display: none">
                  <?$Content?>
                </div>
            <?$toc?>
        </div>
    </div>
	<div class="g-6">
          <p>Welcome to the extensive introduction to Agile Toolkit. Agile Toolkit is extensive and powerful framework. I recommend that
          you continue reading the "Learning" book fully before you start your application. 
	  </p>
                <p>
                <a href="<?page?>intro<?/?>" class="button blue">I'm short on time! Just show me the Intro</a>
                </p>

        <h3>How to use this book?</h3>
        <p>This Book will introduce you to the main principles of Agile Toolkit and will help you understand the basics. It does not
        cover all of the functionality, but will immerse you gradually into the exciting world of Agile Toolkit.</p>

        <p>Along with Agile Toolkit, I will explain principles of efficient web development and help you transform you into a much
        more productive developer.</p>

        <p>You will find many small examples on the pages of this book. All of the Agile Toolkit website including this material
        is developed and runs on Agile Toolkit therefore all of the examples are executed natively - as you open the page. Feel free
        to examine and play with them.</p>

    </div>
</div>

<h4>Basic Object Oriented Knowledge Required</h4>

        <p>If you are new to Object-Oriented development and have doubts about terminology used here ("inheritance", "instance", "object", "class",
        "descendant", "overriding", "pattern" or "property") - you would need to buy a good Object-Oriented development book.</p>

        <p><a href="http://oad.humansize.com/">Short introduction to Object-Oriented User Interfaces</a></p>

        <p>For more advanced reading, I recommend:
        <a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612">Design Patterns: Elements of Reusable Object-Oriented Software</a></p>



<?$Next?>
