<?from?><?$from?>welcome@agiletoolkit.org<?/from?>
<?headers?>
<?/headers?>
<?subject?>Invitation to register with agiletoolkit.org<?/?>
<?body?>

<p>We are excited to announce that agiletoolkit.org has now a user management features. 
You can log-in there using your email and take advantage of some really cool interactive
tools.</p>

<p>Gradually we will add more and self-service features such as forums, comments, ability
to manage your licenses, register domains, publish your portfolio on our site and even
search for jobs.</p>

<p>To start using agiletoolkit.org now, click the link below:</p>

<p><a href="<?$url?>"><?$url?></a></p>

<?$sign?>
<?/body?>

