<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-6">
        <font color="red">Documentation on Addons is not yet been fully written yet</font>

        <p>Meanwile you can go and explore them <a href="https://github.com/atk4/atk4-addons">through GitHub</a></p>

        <hr/>
        <p>Addons in Agile Toolkit are significantly more powerful. Addons are designed to extend and enhance workings of
        the core framework. 
        </p>

        <a href="<?page?>a/adding<?/?>">Learn about creating your own addon</a>
    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Addons in Agile Toolkit</b>
			<p>Select section to get started</p>
            <?$toc?>
        </div>
    </div>
</div>
