<?$Content?>

<h1>Documentation page was not found</h1>
<div class="g-row" id="doc-ref">
	<div class="g-6">

          <p>You have tried to open the page which does not exist. Please select the topic from the table on the right. If documentation contains no answer to your question, please <a href="<?page?>community/help<?/?>">ask other Agile Toolkit users</a>.
        
        <p>If you are willing to join our Agile Toolkit discussion group, you will find our group here: <a
        href="http://groups.google.com/group/agile-toolkit-devel"
        target="_blank">http://groups.google.com/group/agile-toolkit-devel</a>

    </div>
	<div class="g-6">
		<div class="ref-item box blue-noised">
			<b>Table of Contents</b>
			<p>Select section</p>
            <?$toc?>
        </div>
    </div>
</div>
