<div clas="box metallic">
	<button class="big button blue">Apply Changes</button>
	<button class="big button green">Apply Changes</button>
	<button class="big button yellow">Apply Changes</button>
	<button class="big button orange">Apply Changes</button>
	<button class="big button red">Apply Changes</button>
</div>
<div class="box red">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>