<h1>Documentation</h1>
<div class="atk-row">
	<div class="span9">
		<div class="doc-quick-links atk-block"><strong>Quick Links:</strong><a href="#">Install Guide</a><span class="atk-sep">|</span><a href="#">Glossary</a><span class="atk-sep">|</span><a href="#">Screencasts</a><span class="atk-sep">|</span><a href="#">Community</a><span class="atk-sep">|</span><a href="#">Commercial</a></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span3">
		<div style="background:whitesmoke;border:1px solid #ccc;border-radius:10px;height:120px;text-align:center;"><a href="#" style="position:relative;top:50px">Play Video</a></div>
		<p class="small text-gray text-center">Consectetur adipisicing elit.</p>
	</div>
</div>
<div class="box blue-noised doc-topics">
	<div class="box white atk-row">
		<div class="span4">
			<a href="#">Application</a>
			<div class="text-gray small">Routing, Config, etc.</div>
		</div>
		<div class="span4">
			<a href="#">Views</a>
			<div class="text-gray small">A visual elements on your pages.</div>
		</div>
		<div class="span4">
			<a href="#">Models</a>
			<div class="text-gray small">Object-Oriented interface to a relational database data.</div>
		</div>
		<div class="span4">
			<a href="#">Form</a>
			<div class="text-gray small">A View implementing a data entry form.</div>
		</div>
		<div class="span4">
			<a href="#">Lister</a>
			<div class="text-gray small">A View for displaying data on a page with a custom look and feel.</div>
		</div>
		<div class="span4">
			<a href="#">Grid</a>
			<div class="text-gray small">A tabular element with interactive elements.</div>
		</div>
		<div class="span4">
			<a href="#">CRUD</a>
			<div class="text-gray small">A self-sufficient view for adding, editing and deleting model records.</div>
		</div>
		<div class="span4">
			<a href="#">Menu</a>
			<div class="text-gray small">A standard widget (s) for displaying user-menu.</div>
		</div>
		<div class="span4">
			<a href="#">Authentication</a>
			<div class="text-gray small">Requesting users to provide username and password to access application.</div>
		</div>
		<div class="span4">
			<a href="#">Testing</a>
			<div class="text-gray small">Building unit-tests and stress-tests.</div>
		</div>
		<div class="span4">
			<a href="#">UI Customization</a>
			<div class="text-gray small">Ability to change look and feel of your web application.</div>
		</div>
		<div class="span4">
			<a href="#">DSQL</a>
			<div class="text-gray small">SQL Query Abstraction library and builder.</div>
		</div>
		<div class="span4">
			<a href="#">SMLite</a>
			<div class="text-gray small">Built-in template of Agile Toolkit.</div>
		</div>
		<div class="span4">
			<a href="#">TMail</a>
			<div class="text-gray small">Generating and sending out email with templates and transport support.</div>
		</div>
		<div class="span4">
			<a href="#">Hierarchy</a>
			<div class="text-gray small">Dealing with hierarchical elements, trees, drop-downs.</div>
		</div>
		<div class="span4">
			<a href="#">noSQL Models</a>
			<div class="text-gray small">Building support for non-standard database systems.</div>
		</div>
		<div class="span4">
			<a href="#">JavaScript</a>
			<div class="text-gray small">Integration with jQuery, chains, AJAX and built-in JavaScript APIs.</div>
		</div>
		<div class="span4">
			<a href="#">Third-party integration</a>
			<div class="text-gray small">Requesting users to provide username and password to access application.</div>
		</div>
	</div>
</div>
<h2>Advanced Topics</h2>
<div class="box blue-noised doc-topics">
	<div class="box white atk-row">
		<div class="span4"><a href="#">Translating and Local Groups</a><div class="text-gray small">Requesting users to provide username and password to access application.</div></div>
		<div class="span4"><a href="#">Contributing and Writing Add-ons</a><div class="text-gray small">Requesting users to provide username and password to access application.</div></div>
		<div class="span4"><a href="#">Security consideration</a><div class="text-gray small">Requesting users to provide username and password to access application.</div></div>
		<div class="span4"><a href="#">Performance optimization</a><div class="text-gray small">Requesting users to provide username and password to access application.</div></div>
		<div class="span4"><a href="#">Compatibility guide</a><div class="text-gray small">Requesting users to provide username and password to access application.</div></div>
	</div>
</div>