$(window).resize(function() {
  // This will execute whenever the window is resized

  $(window).height(); // New height
  $(window).width(); // New width
});
if ( $(window).width() < 1000 ) { do this }
<h1>Topic Name</h1>
<div class="quick-links atk-block"><strong>Dependencies:</strong><a href="#">Install Guide</a><span class="atk-sep">|</span><a href="#">Glossary</a><span class="atk-sep">|</span><a href="#">Screencasts</a><span class="atk-sep">|</span><a href="#">Community</a><span class="atk-sep">|</span><a href="#">Commercial</a></div>
<div class="atk-row atk-block">
	<div class="span2">
		<img src="http://agiletoolkit.org/templates/jui/images/ugly_images/abstract.png" width="100%" />
	</div>
	<div class="span7">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	<div class="span3">
		<div style="background:whitesmoke;border:1px solid #ccc;border-radius:10px;height:100px;text-align:center;"><a href="#" style="position:relative;top:40px">Play Video</a></div>
	</div>
</div>
<div class="box p-10px outline atk-block table-of-contents span2">
	<h5><!-- <i class="ui-icon ui-icon-triangle-1-s"></i> -->Contents</h5>
	<ul class="small simple">
		<li><a href="#">Getting Started</a>
			<ul>
				<li><a href="#">Phasellus quis purus</a></li>
				<li><a href="#">Integer facilisis erat nec</a></li>
				<li><a href="#">Sed eu nibh ac</a></li>
			</ul>	
		</li>
		<li><a href="#">References and Features</a>
			<ul>
				<li><a href="#">Phasellus quis purus</a></li>
				<li><a href="#">Integer facilisis erat nec</a></li>
				<li><a href="#">Sed eu nibh ac</a></li>
			</ul>	
		</li>
		<li><a href="#">Advanced</a>
			<ul>
				<li><a href="#">Phasellus quis purus</a></li>
				<li><a href="#">Integer facilisis erat nec</a></li>
			</ul>	
		</li>
	</ul>
</div>
<div class="clear"></div>
<h2>Getting Started</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Dependencies</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>How to use?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Further Learning</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>How tos</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>References and Features</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Advanced</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>