<h1>Documentation</h1>
<div class="doc-quick-links atk-block"><strong>Quick Links:</strong><a href="#">Install Guide</a><span class="atk-sep">|</span><a href="#">Glossary</a><span class="atk-sep">|</span><a href="#">Screencasts</a><span class="atk-sep">|</span><a href="#">Community</a><span class="atk-sep">|</span><a href="#">Commercial</a></div>
<div class="atk-row">
	<div class="span8">
		<p>Agile Toolkit offers you a wide universe of concepts, UI tools, back-end framework and jQuery Integration — everything you would ever need to create a stunning and professional web applicaitons.</p>

		<p>Before you dip into the features and start producing results, you must fully understand the <a href="<?page?>learn/understand<?/?>">five core concepts</a> of Agile Toolkit.</p>

		<p>Should you find any missing pages or un-documented features, please report them to us and we will fix them as quickly as possible.</p>
	</div>
	<div class="span4">
		<iframe width="280" height="158" src="http://www.youtube.com/embed/eyeZhwP1LP4" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="box blue-noised doc-topics">
	<div class="box white atk-row">
		<div class="span4">
			<a href="#">Application</a>
			<div class="text-gray small">Execution steps of typical application; routing; config; logging. Various API classes.</div>
		</div>
		<div class="span4">
			<a href="#">Views</a>
			<div class="text-gray small">Visual elements on your pages. Custom HTML snippets. Introduction to Templates.</div>
		</div>
		<div class="span4">
			<a href="#">Models</a> (SQL)
			<div class="text-gray small">Object-Oriented interface to a relational database data. Use directly or with Views.</div>
		</div>
		<div class="span4">
			<a href="#">Form</a>
			<div class="text-gray small">The fundamental data-entry view. AJAX in Form. Field definitions and control.</div>
		</div>
		<div class="span4">
			<a href="#">Lister</a>
			<div class="text-gray small">Listing data with user-defined HTML template. Reloading with AJAX; Pagination; Filtering.</div>
		</div>
		<div class="span4">
			<a href="#">Grid</a>
			<div class="text-gray small">A tabular element for interacting with your data. Standard and custom column types.</div>
		</div>
		<div class="span4">
			<a href="#">CRUD</a>
			<div class="text-gray small">A swiss-army knife of data editing. Adding, Editing, Deleting in a one-liner.</div>
		</div>
		<div class="span4">
			<a href="#">Menu</a>
			<div class="text-gray small">A standard widget for displaying user-menu. Look customization, multiple levels.</div>
		</div>
		<div class="span4">
			<a href="#">Authentication</a>
			<div class="text-gray small">Restricting access to your web application. Multiple user roles. Custom Login Forms.</div>
		</div>
		<div class="span4">
			<a href="#">Testing</a>
			<div class="text-gray small">Building unit-tests and stress-tests for your back-end. Best practices and extending.</div>
		</div>
		<div class="span4">
			<a href="#">UI Customization</a>
			<div class="text-gray small">Changing look and feel of your web application entirely. Changing HTML/CSS.</div>
		</div>
		<div class="span4">
			<a href="#">DSQL</a>
			<div class="text-gray small">SQL Query Abstraction library and builder. Joins. Subqueries. Parametric queries.</div>
		</div>
		<div class="span4">
			<a href="#">SMLite</a>
			<div class="text-gray small">Lightweight template parser of Agile Toolkit. API. Cloning Regions and manipulation.</div>
		</div>
		<div class="span4">
			<a href="#">TMail</a>
			<div class="text-gray small">Generate emails based on templates. HTML and/or Text. Send using various transports.</div>
		</div>
		<div class="span4">
			<a href="#">Hierarchy</a>
			<div class="text-gray small">Presenting hierarchical data as trees or drop-downs. Editing tree structures.</div>
		</div>
		<div class="span4">
			<a href="#">noSQL Models</a>
			<div class="text-gray small">Building support for non-standard database systems. MongoDB, MemCache, Redis.</div>
		</div>
		<div class="span4">
			<a href="#">JavaScript</a>
			<div class="text-gray small">Integration with jQuery, action chains, event binding. Built-in jQuery widgets.</div>
		</div>
		<div class="span4">
			<a href="#">Third-party integration</a>
			<div class="text-gray small">jQuery Plugins, Zend, Joomla, Wordpress and CodeIgniter integration.</div>
		</div>
	</div>
</div>
<h2>Advanced Topics</h2>
<div class="box blue-noised doc-topics">
	<div class="box white atk-row">
		<div class="span4">
			<a href="#">Translating and Local Groups</a>
			<div class="text-gray small">How to add translation into your language for Agile Toolkit website and framework.</div>
		</div>
		<div class="span4">
			<a href="#">Contributing and Writing Add-ons</a>
			<div class="text-gray small">Pack up your great new objects into an add-ons and share for free or commercially.</div>
		</div>
		<div class="span4">
			<a href="#">Security consideration</a>
			<div class="text-gray small">Learn how to stay secure with Agile Toolkit. The Human "Err" factor.
			</div></div>
		<div class="span4">
			<a href="#">Performance optimization</a>
			<div class="text-gray small">Avoid performance degradation as your application grows. Scale, build APIs.
			</div></div>
		<div class="span4">
			<a href="#">Compatibility guide</a>
			<div class="text-gray small">Ensure that your code is compatible with future releases of Agile Toolkit.
			</div></div>
	</div>
</div>