<div class="atk-row header">
	<div class="span5">
		<h1>Podcasts</h1>
	</div>
	<div class="span4 feature">
		<img src="<?template?>images/icon-mic.png<?/?>" alt="" />
		<p>Airs with Romans & Armin on<br /><strong>Tuesday at 7pm</strong> (GMT +0)</p>
	</div>
	<div class="span3 feature">
		<img src="<?template?>images/icon-hangout.png<?/?>" alt="" />
		<p>Join our next<br /><a href="#">Google Hangout</a></p>
	</div>
</div>
<div class="atk-row">
	<div class="span8">
		<div class="video-box box outline limited">
			<div class="video"><iframe width="601" height="338" src="http://www.youtube.com/embed/UZdK7jujSqY" frameborder="0" allowfullscreen></iframe></div>
			<div class="info">
				<div class="atk-row">
					<div class="span10 title">
						<h3>Agile Toolkit Hangout #6</h3>
						<div class="date text-gray small">Aired on August 22, 2012</div>
					</div>
					<div class="span2 socials">
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
						<script type="text/javascript">stLight.options({publisher: "ur-b37be797-6f8b-32fc-619b-f5fabcac8087"}); </script>
					</div>
				</div>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="bg-fade"><a href="#" class="metallic">Show More <i class="ui-icon ui-icon-triangle-1-s"></i></a></div>
		</div>
	</div>
	<div class="span4">
		<div class="related-videos blue-noised">
			<div class="slides">
				<div class="slide">
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit Hangout Test Test Test #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video current">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
				</div>
				<div class="slide">
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit Hangout Test Test Test #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
					<a href="#" class="video">
						<span class="thumbnail"><span class="play"></span><img src="http://i2.ytimg.com/vi/UZdK7jujSqY/mqdefault.jpg" alt="" /></span>
						<span class="title">Agile Toolkit #6</span>
						<span class="date small">August 22, 2012</span>
					</a>
				</div>
			</div>
			<div id="related-videos-nav"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="<?template?>js/jcycle.js<?/?>"></script>
<script>
	$(document).ready(function(){
		$('.related-videos .slides').cycle({pager:  '#related-videos-nav', fx: 'scrollHorz', speed: 'fast', timeout: 0});
	});
</script>