
<?$Content?>

<div class="g-row" id="doc-ref">
	<div class="g-12">
        <h1>Examples of Simple Views</h1>

        <p>What we call View in Agile Toolkit, other frameworks may refer to as widgets, helpers and so on. The reason we use
        the word "View" is because it allows you to view the data on the page.</p>

        <p>Some views are really simple, while others rely on complex logic and are interactive. Some views may contain other views
        in themselves. All views have certain common traits.</p>

<?Example?>
$page->add('HelloWorld');
<?/?>

        <p>Although it is not a rule, most views will use a &lt;div&gt; in their HTML output with the "id" attribute equal to
        the full name of the object. This ID is used if you are calling the js() method to build a jQuery chain for your object</p>

<?Example?>
$page->add('H1')->set('Drag me')
    ->js(true)->draggable();
<?/?>

    </div>
</div>

<?$Next?>
