#footer-guard {height:7.5em !important;}
#content {padding:0;}

#layout {overflow-x:hidden;}

#header {padding-bottom:0;}
#header #hero {clear:both;margin-top:3.5em;color:#93c9ff;padding-bottom:2.5em;}
#header #hero-text {float:left;width:680px;}
#header #hero h1 {background:url(../images/sprite.png) no-repeat -300px -20px;height:33px;width:680px;line-height:1;margin:0 0 0.3em 0;}
#header #hero p {margin:0;line-height:1.8;font-size:14px !important;}
#header #hero p span.highlight {color:#ebf5ff;}
#header #hero .button {-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.08);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.08);box-shadow:0 1px 0 rgba(255,255,255,0.08);}
#header #hero-download {float:right;width:200px;min-height:32px;}
#header #hero-download #version {padding:20px 0 0 48px;background:url(../images/sprite.png) no-repeat -300px -79px;}
#header #hero-download .button {margin:0.7em 0 0.3em 0;}
#header #hero-download #size {font-size:10px;color:#397cbf;text-align:center;}
#header a:link, #header a:visited {color:#fff;text-decoration:none;}
#header #news-box {
	color:#c7e2ff;
	text-shadow:0 0 5px rgba(255,255,255,0.6);
	background:#1a528a;
	border:1px solid #1d5b99;
	margin-top:5px;
	padding:3px 6px;
	overflow:hidden;}
#header #news-box>div {float:left;border-left:1px dotted #226ab3;padding-left:10px;margin-left:10px;font-size:12px;}
#header #news-box>div:first-child {border-left:none;padding-left:0;margin-left:0;}
#header #news-box>div.label .icon-tweet {background:url(../images/sprite.png) -547px -78px;width:17px;height:14px;display:inline-block;position:relative;top:2px;}
#header #news-box>div.tweet {width:720px;overflow:hidden;}
#header #news-box>div.follow {float:right;}
#header #news-box a {color:#c7e2ff;}
#header #news-box a:hover {color:#fff;	text-shadow:0 0 5px rgba(255,255,255,0.8);}

#carousel, #engage {background:url(../images/bg-hex.png);}
#carousel, #features, #engage {padding:3em 0;position:relative;}

#header, #features, #carousel, #engage {z-index:1;position:relative;}
#header, #features {
	width:200%;
	left:-50%;
	z-index:2;
	-webkit-box-shadow:0 0px 30px rgba(0,0,0,0.7);
	   -moz-box-shadow:0 0px 30px rgba(0,0,0,0.7);
	        box-shadow:0 0px 30px rgba(0,0,0,0.7);}


/* Carousel */

.tron-screen-holder, .tron-screen {margin:auto;position:relative;}
.tron-screen-holder {width:818px;height:343px;}
.tron-screen {background:url(../images/tron-screen.png);z-index:2;width:700px;height:225px;padding:54px 59px 64px 59px;}
.tron-screen-button, .tron-screen-button i {width:80px;height:151px;}
.tron-screen-button {position:absolute;top:50%;margin-top:-75px;z-index:1;overflow:hidden;/* temporary disabled */display:none;}
.tron-screen-button i {background-image:url(../images/tron-screen.png);display:block;position:relative;cursor:pointer;}
.tron-screen-button.prev {left:-62px;}
.tron-screen-button.prev i {background-position:0px -343px;right:-5px;}
.tron-screen-button.next {right:-62px;}
.tron-screen-button.next i {background-position:-80px -343px;left:-5px;}
.tron-screen-button.prev:hover i {background-position:-160px -343px;}
.tron-screen-button.next:hover i {background-position:-240px -343px;}
.tron-screen h1 {color:#fff;text-shadow:0 0 20px rgba(255,255,255,0.7);text-align:center;margin-bottom:25px;}
.tron-screen .neon {
	border:1px solid rgba(200,230,255,0.9);
	-webkit-box-shadow:
	0 0 25px rgba(100,190,255,0.7),
	0 0 5px rgba(30,170,255,0.7),
	0 0 3px rgba(200,230,255,0.7),
	0 0 3px rgba(200,230,255,0.7) inset,
	0 0 5px rgba(30,170,255,0.7) inset,
	0 0 25px rgba(100,190,255,0.7) inset;
	-moz-box-shadow:
	0 0 25px rgba(100,190,255,0.7),
	0 0 5px rgba(30,170,255,0.7),
	0 0 3px rgba(200,230,255,0.7),
	0 0 3px rgba(200,230,255,0.7) inset,
	0 0 5px rgba(30,170,255,0.7) inset,
	0 0 25px rgba(100,190,255,0.7) inset;
	box-shadow:
	0 0 25px rgba(100,190,255,0.7),
	0 0 5px rgba(30,170,255,0.7),
	0 0 3px rgba(200,230,255,0.7),
	0 0 3px rgba(200,230,255,0.7) inset,
	0 0 5px rgba(30,170,255,0.7) inset,
	0 0 25px rgba(100,190,255,0.7) inset;}
.tron-screen a.neon:hover {
	background-color:rgba(190,220,255,0.1);
	border:1px solid rgba(200,230,255,1);
	-webkit-box-shadow:
	0 0 30px rgba(100,190,255,0.9),
	0 0 10px rgba(30,170,255,0.9),
	0 0 5px rgba(200,230,255,0.9),
	0 0 5px rgba(200,230,255,0.9) inset,
	0 0 10px rgba(30,170,255,0.9) inset,
	0 0 30px rgba(100,190,255,0.9) inset;
	-moz-box-shadow:
	0 0 30px rgba(100,190,255,0.9),
	0 0 10px rgba(30,170,255,0.9),
	0 0 5px rgba(200,230,255,0.9),
	0 0 5px rgba(200,230,255,0.9) inset,
	0 0 10px rgba(30,170,255,0.9) inset,
	0 0 30px rgba(100,190,255,0.9) inset;
	box-shadow:
	0 0 30px rgba(100,190,255,0.9),
	0 0 10px rgba(30,170,255,0.9),
	0 0 5px rgba(200,230,255,0.9),
	0 0 5px rgba(200,230,255,0.9) inset,
	0 0 10px rgba(30,170,255,0.9) inset,
	0 0 30px rgba(100,190,255,0.9) inset;}
.tron-screen .neon.stripe {
	width:128px;
	height:3px;
	background:rgba(200,230,255,0.9);
	position:relative;
	border:none;}
.tron-screen .neon.stripe:after {
	position:absolute;
	top:1px;
	left:1%;
	content:'';
	height:1px;
	width:98%;
	background:rgba(255,255,255,0.7);}
.tron-screen .tron-icons>* {float:left;}
.tron-screen .tron-icons .neon.stripe {margin:60px 14px 0 14px;}
.tron-screen a.tron-icon {
	text-decoration:none;
	position:relative;
	-moz-border-radius:10px;
	     border-radius:10px;
	width:127px;
	height:127px;
	background-image:url(../images/tron-screen.png);}
.tron-screen .tron-icon.mvc {background-position:-320px -344px;}
.tron-screen .tron-icon.jquery {background-position:-448px -344px;}
.tron-screen .tron-icon.ui {background-position:-576px -344px;}
.tron-screen .tron-icon span {position:absolute;top:100%;left:-25%;text-align:center;padding-top:12px;width:150%;color:#fff;}
.tron-screen .tron-icon span b {font-size:16px;/* border-bottom:1px dashed rgba(255,255,255,0.5); */text-shadow:0 0 5px rgba(255,255,255,0.5);}
.tron-screen .tron-icon:hover span b {text-shadow:0 0 5px rgba(255,255,255,1);}
.tron-screen a.tron-icon:after {
	width:22px;
	height:20px;
	content:'';
	position:absolute;
	top:3px;
	right:3px;
	background:url(../images/tron-screen.png) -704px -343px;}



/* Engage */

#engage {border-bottom:1px solid #020e1a;}
#engage .span2 {padding-top:45px;}
#engage .span2 .itc {font-size:360%;color:#fff;text-align:center;text-shadow:0 1px 3px rgba(0,0,0,0.8);}
#engage a {display:block;color:#fff;text-decoration:none;position:relative;}
#engage a .itc {font-weight:normal;display:block;font-size:240%;}
#engage a span {font-size:14px;display:block;padding:0 20px;}
#engage a.bigarrow.red-e span {padding-right:0;}
#engage a.bigarrow.blue-w span {padding-left:0;}
