/* #header ul#navigation li a {font-family:"Helvetica",sans-serif;font-weight:bold;font-size:14px;} */
h1,h2 {.font:bold italic 36px Arial, sans-serif;.letter-spacing:-0.05em;font:bold italic 36px Arial, sans-serif\0/;letter-spacing:-0.05em\0/;}
h2 {.font-size:30px;font-size:30px\0/;}