<!DOCTYPE html>

<!-- Agile Toolkit Website (c) Agile Technologies // Design by http://www.agiletech.ie/ -->
<!-- This site source code can be downloaded from https://github.com/atk4/atk4-web      -->

<html>
	<head>
		<title><?page_title?>Agile Toolkit - PHP Framework with jQuery<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="agile toolkit, php ui, php ui framework, php ui controls, agile php, amodules3, atk4, php framework, agile framework, atk, best php frameworks, best ui framework, php5, jquery, framework jquery, modern php, zend, yii, cakephp, symphony, javascript <?$seo_keywords?>">
		<meta name="description" content="<?seo_descr?>Agile Toolkit is a high-performance PHP framework for UI development with jQuery. High levels of efficiency are achieved because your database and your UI are seamlessly and securely integrated. Achieve more with less code.<?/?>" />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
		<link rel="stylesheet" type="text/css" href="<?template?>css/agile.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/general.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/front.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
		<!-- <script type="text/javascript" src="js/general.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/templates/jui/css/<?os?>empty<?/?>.css" />

		<?$js_include?>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
	</head>
	<body id="page-<?$section?>">
	
		<div id="layout">
			<div id="header">
				<div class="wrapper clearing">
					<a href="/" id="logo"><img src="<?template?>images/logo.png<?/?>" alt="Agile Toolkit" /></a>
					<ul id="navigation">
						<li <?$menu_about?>><a href="/about/"><i class="purple-h"></i>About</a></li>
						<li <?$menu_doc?>><a href="/doc/"><i class="blue-h"></i>Documentation</a></li>
						<li <?$menu_develop?>><a href="/develop/getinvolved.html"><i class="green-h"></i>Development</a></li>
						<li <?$menu_services?>><a href="/commercial/"><i class="yellow-h"></i>Commercial</a></li>
						<li <?$menu_download?>><a href="/download.html"><i class="orange-h"></i>Downloads</a></li>
						<li><a href="http://blog.atk4.com"><i class="red-h"></i>Blog</a></li>
					</ul>
				</div>
				<div id="hero">
					<div class="wrapper clearing">
						<div id="hero-text">
							<h1></h1>
							<p>Agile Toolkit is a high-performance <span class="highlight">PHP framework</span> for UI development <span class="highlight">with jQuery</span>. High levels of efficiency are achieved because your database and your UI are seamlessly and securely integrated. Achieve more with less code.</p>
						</div>
						<div id="hero-download">
							<div id="version">
								version 4.0.1
							</div>
							<a href="/distfiles/atk4-sample-project-4.0.1.zip" class="button black wide">Download</a>
							<div id="size">.zip archive (0.9 MB)</div>
						</div>
					</div>
				</div>
				<div id="actionbar">
					<div class="wrapper clearing">
						<a href="<?$link_comparison?>" id="comparison"><i 
						class="icon-comparison"></i><span>Why is it better?</span><b></b></a>
						<a href="<?$link_example?>" id="example"><i 
						class="icon-magichat"></i><span>Example Form</span><b></b></a>
						<a href="<?$link_tour?>" id="tour"><i class="icon-rightarrow"></i><span>Show me more</span></a>
					</div>
				</div>	

			</div>
			<div id="content"> <!-- Content Starts -->
				<?Content?>
					<div id="comparison-section">
						<?TabContent?>
						<div class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="comparison-nav">
								<li><a href="#" class="button black wide">Simple php</a></li><li><a href="#" class="button black wide">PHP frameworks</a></li><li><a href="#" class="button blue-i wide">Agile toolkit</a></li>
							</ul>
							<div id="comparison-content">
								<div id="cycle"></div>
								<div id="browser">
									<h4>BROWSER</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
								<div id="server">
									<h4>PHP server</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
								<div id="sql">
									<h4>SQL database</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
							</div>
						</div>
						<?/TabContent?>
					</div>
					<div id="features" class="box blue-noised">
						<div class="wrapper">
							<h2>Features</h2>
							<div class="features-grid">
								<div>
									<div>
										<div>
											<h6>Web Software — reinvented</h6>
											<p>You might have thought that web development is about producing HTML code. Not anymore. Objects inside Agile Toolkit are alive. They automatically interact with data, other objects, JavaScript and render themselves when necessary. It's a new, best way for robust web software.</p>
										</div>
										<i class="big-icon icon-molecule"></i>
									</div>
									<div>
										<i class="big-icon icon-re-use"></i>
										<div>
											<h6>Re-use of your code</h6>
											<p>You might have thought that web development is about producing HTML code. Not anymore. Objects inside Agile Toolkit are alive. They interact with models, data, other objects, JavaScript, and render themselves when necessary. It’s a new, best way for robust web software.</p>
										</div>
									</div>
									<div>
										<i class="big-icon icon-cubes"></i>
										<div>
											<h6>Keep simple things simple</h6>
											<p>If you compare the basic components in different frameworks, the classes in Agile Toolkit are much cleaner and more basic. However they are extremely extensible and can gain new features, look, bindings, type support, data bindings through simple actions by developers.</p>
										</div>
									</div>
								</div>
								<div>
									<div>
										<i class="big-icon icon-trophy"></i>
										<div>
											<h6>Best choice for your business</h6>
											<p>Agile Toolkit is designed with your business needs in mind. It is easy to learn and suitable for large projects. You can build prototypes faster and integrate legacy applications with the web. Many business-critical extensions are included such as documentation, testing suites and more.</p>
										</div>
									</div>
									<div>
										<i class="big-icon icon-tree"></i>
										<div>
											<h6>Project Growth</h6>
											<p>We all get worried that our code might turn into a spaghetti after the business team changes their mind for 3rd time! Agile Toolkit provides a great architecture for keeping code organised but it also enables you to perform code reorganisation much more efficiently.</p>
										</div>
									</div>
									<div>
										<i class="big-icon icon-brush"></i>
										<div>
											<h6>Simple templates</h6>
											<p>Agile toolkit comes with integrated template engine which is simple and fast. This is a template your designers can easily understand and involves no programming. The same template also allows you to preserve the look of your mock-ups even after they are changed into templates.</p>
										</div>
									</div>
								</div>
								<div>
									<div>
										<i class="big-icon icon-gpl"></i>
										<div>
											<h6>Best choice for open-source</h6>
											<p>If you plan to develop an open-source project, Agile Toolkit will provide you with dynamic and flexible platform which you and your contributors will easily understand. Your project will contain clean, object-oriented code ensuring future and growth of your project.</p>
										</div>
									</div>
									<div>
										<i class="big-icon icon-wheel"></i>
										<div>
											<h6>Rich Web Applications</h6>
											<p>The unique approach of Agile Toolkit means that you can write business code on the server side which maintains control over the user interface. As a result, the interface interacts with the backend through AJAX in a very efficient way which is really easy to keep track of.</p>
										</div>
										
									</div>
									<div>
										<i class="big-icon icon-gears"></i>
										<div>
											<h6>"Real" Plugin Support</h6>
											<p>The concept of an add-on bundle is much more powerful in Agile Toolkit.
											Add-ons include interface elements and models, which you can use inside your own
											UI. They are easy to integrate, extend, customise and when you upgrade an add-on,
											you don't lose your modifications.</p>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				<?/?>
			</div><!-- Content ends -->
			<div id="footer-guard"></div>
		</div>
		<div id="footer">
			<div class="wrapper">
				<div id="credit">
					Copyright © 2011 <a href="http://www.agiletech.ie">Agile Technologies</a>. All rights reserved.
					<div><a href="#">Subscribe to Newsletter</a><span class="atk-sep">|</span><a href="/about/contact.html">Contact Us</a></div>
				</div>
				<div id="socials">
					<a href="http://www.twitter.com/atk4/" id="twitter"></a>
					<a href="http://www.linkedin.com/company/agile-toolkit?trk=fc_badge" id="linkedin"></a>
					<a href="http://github.com/atk4" target="_blank" id="github"></a>
				</div>
			</div>
		</div>
	</body>
</html>
