<!DOCTYPE html>

<!-- Agile Toolkit Website (c) Agile Technologies // Design by http://www.agiletech.ie/ -->
<!-- This site source code can be downloaded from https://github.com/atk4/atk4-web      -->

<html>
	<head>
		<title><?page_title?>Agile Toolkit - PHP Framework with jQuery<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="mzMSBiCKspnt6Vpc_c2U2Ps6zhW3qMxid48vuhOdKPc" />
		<meta name="keywords" content="agile toolkit, php ui, php ui framework, php ui controls, agile php, amodules3, atk4, php framework, agile framework, atk, best php frameworks, best ui framework, php5, jquery, framework jquery, modern php, zend, yii, cakephp, symphony, javascript <?$seo_keywords?>">
		<meta name="description" content="<?seo_descr?>Agile Toolkit is a high-performance PHP framework for UI development with jQuery. High levels of efficiency are achieved because your database and your UI are seamlessly and securely integrated. Achieve more with less code.<?/?>" />
		<meta name="google-site-verification" content="6fVnMpGZlmOyV_uFrn1BYexyJDA4sJeSmTotrM40dWk" />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
		<link rel="stylesheet" type="text/css" href="<?template?>css/agile.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/themes/agile/jquery-ui.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/general.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/front.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
		<!-- <script type="text/javascript" src="js/general.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/templates/jui/css/<?os?>empty<?/?>.css" />
		<link rel="alternate" type="application/rss+xml" title="Agile Toolkit news &raquo; Feed" href="http://agiletoolkit.org/blog/feed/" />
		<?$js_include?>
		<script type="text/javascript" src="<?template?>css/effects.js<?/?>"></script>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-17702108-2']);
  			_gaq.push(['_trackPageview']);

  			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>
	</head>
	<body id="page-<?$section?>" class="gs-12">
		<div id="layout">
			<div id="header">
				<div class="gs-wrap clearafter">
					<a href="/" id="logo"><img src="<?template?>images/logo.png<?/?>" alt="Agile Toolkit" /></a>
					<ul id="navigation">
						<li <?$menu_about?>><a href="<?page?>about<?/?>"><i class="purple-h"></i>About</a></li>
						<li <?$menu_doc?>><a href="<?page?>doc<?/?>"><i class="blue-h"></i>Documentation</a></li>
						<li <?$menu_develop?>><a href="<?page?>whatsnew<?/?>"><i class="green-h"></i>Development</a></li>
						<li <?$menu_services?>><a href="<?page?>commercial<?/?>"><i class="yellow-h"></i>Commercial</a></li>
						<li <?$menu_download?>><a href="<?page?>download<?/?>"><i class="orange-h"></i>Downloads</a></li>
						<li <?$menu_blog?>><a href="/blog/"><i class="red-h"></i>Blog</a></li>
					</ul>
				</div>
				<div id="hero">
					<div class="gs-wrap clearafter">
						<div id="hero-text">
							<h1></h1>

							<p>Agile Toolkit is a powerful object-oriented platform for Web User Interface development. It 
                            focuses on <span class="highlight">seamless integration</span> while being
							<span class="highlight">simple to learn</span>. Filling the gaps between ORM and User Interface,
                            Agile Toolkit <span class="highlight">reinvents web development</span>.</p>
						</div>
						<div id="hero-download">
							<div id="version">
								version 4.0.3
							</div>
							<a id="index-download-button" href="/download/success?file=atk4-example-4.0.3.zip" class="button black wide">Download</a>
							<div id="size">.zip archive 0.9 MB (<a href="<?page?>whatsnew<?/?>">release notes</a>)</div>
						</div>
					</div>
				</div>
			</div>
			<div id="introduction">
				<div id="carousel" class="hex">
					<div class="gs-wrap">
						<div class="tron-screen-holder">
							<a class="tron-screen-button next" href="#"><i></i></a>
							<div class="tron-screen">
								<h1>One Framework. Three Benefits.</h1>
								<div class="tron-icons">
									<a class="neon tron-icon mvc" href="<?page?>in/models<?/?>"><span><b>Business MVC</b></span></a>
									<div class="neon stripe"></div>
									<a class="neon tron-icon jquery" href="<?page?>in/jquery<?/?>"><span><b>jQuery Integration</b></span></a>
									<div class="neon stripe"></div>
									<a class="neon tron-icon ui" href="<?page?>in/ui<?/?>"><span><b>User Interface</b></span></a>
								</div>
							</div>
							<a class="tron-screen-button prev" href="#"><i></i></a>
						</div>
					</div>
				</div>
                <?Content?>
				<div id="features" class="blue-noised">
					<script>
						$(function(){
							$('#features .current').prepend('<i></i>');

							$('#features-nav').children('a').click(function(){
								var r=$(this).attr('rel');
								$('#features').find('.active').hide().removeClass('active');
									$('#features').find('.'+r).fadeIn().addClass('active');
								$('#features').find('.current').removeClass('current');
								$(this).addClass('current');
							});
						});
					</script>
					<div class="gs-wrap">
						<div id="features-nav">
							<a rel="molecule" class="big-icon motion icon-molecule"></a>
							<a rel="community" class="big-icon motion icon-community"></a>
							<a rel="trophy" class="big-icon motion icon-trophy"></a>
							<a rel="core" class="big-icon motion icon-core"></a>
							<a rel="gpl" class="big-icon motion icon-gpl current"></a>
							<a rel="re-use" class="big-icon motion icon-re-use"></a>
							<a rel="lego" class="big-icon motion icon-lego"></a>
							<a rel="tree" class="big-icon motion icon-tree"></a>
							<a rel="cubes" class="big-icon motion icon-cubes"></a>
							<a rel="wheel" class="big-icon motion icon-wheel"></a>
							<a rel="book" class="big-icon motion icon-book"></a>
							<a rel="jerrycan" class="big-icon motion icon-jerrycan"></a>
						</div>
						<div id="features-text" class="molecule" style="display: none">
							<h3>Integration</h3>
							<p>Agile Toolkit reinvents web development for the rest of us. Compared to mainstream frameworks,
							Agile Toolkit provides much simpler coding experience with much faster learning curve. At the
							same time it gives you things no other frameworks do: Business-oriented MVC, User
							Interface and Integrated jQuery.</p>

							<p><i>It's elegant, well-designed structure gets you from A to B much faster.</i></p>

							<p><i>Agile Toolkit is addictive</i></p>
						</div>
						<div id="features-text" class="community" style="display: none">
							<h3>Community</h3>
							<p>Agile Toolkit is designed for sharing. Everything you develop is an addon. Sharing is easy and
							same code fits all.</p>
							<p>License choice for Agile Toolkit promotes sharing too. Either commercial sharing in exchange
							for a payment or an open-source contributions.</p>
							<p>Our forum will open soon along with a developer database and support platform</p>
						</div>
						<div id="features-text" class="trophy" style="display: none">
							<h3>Fastest Development</h3>
							<p>Agile Toolkit contributes so much to your future project. Integrated ORM, MVC, CSS Framework,
                            UI widgets, Plugins and deployment structure give you fastest development without any compromise
                            on the flexibility, speed or security.</p>
							<p>Along with add-ons there is anything for you. Of course you must not be afraid of writing a
							code to use it.
                            </p>
						</div>
						<div id="features-text" class="core" style="display: none">
							<h3>Platform Development</h3>
							<p>In Agile Toolkit, your application is an Object. Extend it and override your application. Use
                            the most advanced techniques for satellite sites, white-labeling and re-branding or deploying
                            multi-regional software.
                            </p>
						</div>
						<div id="features-text" class="gpl active">
							<h3>AGPL Licensing</h3>
							<p>Download and start using Agile Toolkit in your private projects for free. Distribution,
                            re-sale and customization is permitted. If you wish to protect intellectual property of your
                            source code, consider Commercial Licensing.
                            </p>
						</div>
						<div id="features-text" class="re-use" style="display: none">
							<h3>Platform Development</h3>
							<p>"Don't repeat yourself" has a new meaning in Agile Toolkit. Generating code IS repeating. You
                            do not generate code in Agile Toolkit. Elegant structure beats code generation by all means.
                            </p>
						</div>

						<div id="features-text" class="lego" style="display: none">
							<h3>Plug-and-Play add-ons</h3>
							<p>Add-ons in Agile Toolkit come with much more. They can contribute new views, assets, pages,
                            controllers or themes and will be instantly available for use anywhere in your application in a
                            very convenient "plug-and-play" way.
                            </p>
						</div>

						<div id="features-text" class="tree" style="display: none">
							<h3>Plug-and-Play add-ons</h3>
							<p>Well suited for Agile Teams, the framework facilitates small and large projects. Even if you
                            need a single page with contact form, creating it in Agile Toolkit is faster than any other way.
                            Important part of project growth is refactoring and Agile Toolkit makes it super-easy.
                            </p>
						</div>

						<div id="features-text" class="tree" style="display: none">
							<h3>Learning conventions</h3>
							<p>After just one day with Agile Toolkit you will grasp the concept and conventions and will be
                            able to easily read the code. Very soon you will be able to follow the intuitive pattern and
                            will be able to contribute new components which mash-up and extend existing components.
                            </p>
						</div>

						<div id="features-text" class="wheel" style="display: none">
							<h3>Learning conventions</h3>
							<p>After just one day with Agile Toolkit you will grasp the concept and conventions and will be
                            able to easily read the code. Very soon you will be able to follow the intuitive pattern and
                            will be able to contribute new components which mash-up and extend existing components.
                            </p>
						</div>
					</div>		
				</div>
                <?/?>
				<div id="engage" class="hex">
					<div class="gs-wrap">
						<div class="g-row">
							<div class="g-5">
								<a href="<?page?>learn<?/?>" class="bigarrow blue-w">
									<b class="itc">Start Learning</b>
									<span>+1 Word Continue exploring and learning exciting world of Agile Toolkit on your own</span>
								</a>
							</div>
							<div class="g-2"><span class="itc">Engage</span></div>
							<div class="g-5">
								<a href="<?page?>engage<?/?>" class="bigarrow red-e">
									<b class="itc">Hire a Developer</b>
									<span>+1 Word Look for a company or freelancer to build your project in Agile Toolkit</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-guard"></div>
		</div>
		<div id="footer">
			<div class="gs-wrap">
				<div id="credit">
					Copyright © 2011 <a href="http://www.agiletech.ie">Agile Technologies</a>. All rights reserved.
					<div><a id="newsletter-button" href="/newsletter">Subscribe to Newsletter</a><span
					class="atk-sep">|</span><a id="contact-button" href="/about/contact">Contact Us</a></div>
				</div>
				<div class="socials">
					<a href="http://www.twitter.com/atk4/" id="twitter"></a>
					<a href="http://www.linkedin.com/company/agile-toolkit?trk=fc_badge" id="linkedin"></a>
					<a href="http://github.com/atk4" target="_blank" id="github"></a>
				</div>
			</div>
		</div>
		
		
		
		
<script type="text/javascript">
var clicky = { log: function(){ return; }, goal: function(){ return; }};
var clicky_site_id = 66401179;
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<a title="Real Time Web Analytics" href="http://getclicky.com/66401179"></a>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66401179ns.gif" /></p></noscript>
		
		
	</body>
</html>
