<!DOCTYPE html>

<!-- Agile Toolkit Website (c) Agile Technologies // Design by http://www.agiletech.ie/ -->
<!-- This site source code can be downloaded from https://github.com/atk4/atk4-web      -->

<html>
	<head>
		<title><?page_title?><?/?>Agile Toolkit</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="agile toolkit, atk4, php ui, php ui framework, php ui controls, agile php, amodules3, php framework, agile framework, atk, best php frameworks, best ui framework, php5, jquery, framework jquery, modern php, zend, yii, cakephp, symphony, javascript <?$seo_keywords?>">
		<meta name="description" content="<?seo_descr?>Agile Toolkit is a high-performance PHP framework for UI development with jQuery. Achieve more with less code.<?/?>" />



		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />

		<link rel="stylesheet" type="text/css" href="<?template?>css/themes/agile/jquery-ui.css<?/?>" />
		<link rel="alternate" type="application/rss+xml" title="Agile Toolkit news &raquo; Feed" href="http://agiletoolkit.org/blog/feed/" />
	<!--	<link rel="alternate" type="application/rss+xml" title="Agile Toolkit news &raquo; Comments Feed" href="http://agiletoolkit.org/blog/feed/" />
	-->


		<link rel="stylesheet" type="text/css" href="<?template?>css/agile.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/general.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
<!-- 		<link rel="stylesheet" type="text/css" href="/templates/jui/css/<?os?>empty<?/?>.css" /> -->

		<!-- <script type="text/javascript" src="js/general.js"></script> -->

		<?$js_include?>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17702108-2']);
  _gaq.push(['_setDomainName', 'agiletoolkit.org']);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="<?template?>css/iframe.js<?/?>" type="text/javascript"></script>
	</head>
	<body id="page-<?$_page?>" class="gs-12">
		<div id="layout">
			<div id="header">
				<div class="gs-wrap clearafter">
					<a href="/" id="logo"><?logo?><img src="<?template?>images/logo.png<?/?>" alt="Agile Toolkit" /><?/?></a>
					<ul id="navigation">

						<li <?$menu_about?>><a href="<?page?>about<?/?>"><i class="purple-h"></i>About</a></li>
						<li <?$menu_doc?>><a href="<?page?>doc<?/?>"><i class="blue-h"></i>Documentation</a></li>
						<li <?$menu_develop?>><a href="<?page?>develop/getinvolved<?/?>"><i class="green-h"></i>Community</a></li>
						<li <?$menu_services?>><a href="<?page?>commercial<?/?>"><i class="yellow-h"></i>Commercial</a></li>
						<li <?$menu_download?>><a href="<?page?>download<?/?>"><i class="orange-h"></i>Downloads</a></li>
						<li <?$menu_blog?>><a href="/blog/"><i class="red-h"></i>Blog</a></li>
					</ul>
				</div>	
			</div>
			<div id="header-graybar" class="metallic">
				<div class="gs-wrap clearafter">
					<ul id="sub-navigation">
					<?Menu?>

						<li class="current"><a href="#">API Reference</a></li>
						<li><a href="#">Getting Started</a></li>
						<li><a href="#">Screencasts</a></li>
						<li><a href="#">Examples</a></li>
					<?/Menu?>
					</ul>
					<div class="input-search">
						<form id="sqf">
						<span class="input-wrap"><input type="text" id="sq" /></span><button id="sqb"
						type="submit" class="button blue"><img src="<?template?>images/button-search.png<?/?>" alt=""
						/></button></form>
					</div>
				</div>
			</div>
			
			<div id="content"> <!-- Content Starts -->
				<div class="gs-wrap">
				<?Content?>
				<h1>Documentation</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="button blue">
					Save Changes
				</button>
				<div class="hr"></div>
				<h2>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h3>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h4>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h5>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h2>Quoted paragraph</h2>
				<p>Vestibulum lacus nisl, fermentum in convallis in, consectetur ac erat. Curabitur dapibus orci sit amet nunc porttitor id convallis nunc posuere. Donec sapien mauris, suscipit vitae cursus vitae, interdum sed massa. Fusce commodo tincidunt dapibus. Curabitur id erat felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sit amet nisi elit. Aliquam feugiat placerat sapien, sed adipiscing orci euismod vel. Mauris dignissim lacinia diam, pharetra cursus mauris imperdiet et. Aliquam iaculis facilisis dictum. Donec fermentum tempus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin justo ac felis vulputate congue. Maecenas consectetur molestie enim eget blandit. Vivamus dignissim, quam et gravida interdum, metus quam condimentum magna, vitae sollicitudin tellus mi ac ligula.</p>
				<quote>Curabitur dictum adipiscing vestibulum. Integer libero neque, viverra eget mattis ac, posuere hendrerit tellus. Sed non commodo erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce eu mi augue. Phasellus justo purus, feugiat vitae lobortis vel, vulputate et neque. Mauris commodo enim quis neque tempus sodales. Quisque aliquet luctus est, ut porta ipsum congue at. Vestibulum non erat leo. Cras quis nibh nec risus placerat ornare. Nullam sagittis condimentum erat ac facilisis. Cras hendrerit ultrices eros vitae volutpat. Etiam quis urna mauris, eget vehicula sem. Sed commodo consectetur felis, vitae dapibus purus elementum ut. Morbi dapibus quam eu eros tempus eu posuere elit condimentum.</quote>
				<p>Vestibulum lacus nisl, fermentum in convallis in, consectetur ac erat. Curabitur dapibus orci sit amet nunc porttitor id convallis nunc posuere. Donec sapien mauris, suscipit vitae cursus vitae, interdum sed massa. Fusce commodo tincidunt dapibus. Curabitur id erat felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sit amet nisi elit. Aliquam feugiat placerat sapien, sed adipiscing orci euismod vel. Mauris dignissim lacinia diam, pharetra cursus mauris imperdiet et. Aliquam iaculis facilisis dictum. Donec fermentum tempus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin justo ac felis vulputate congue. Maecenas consectetur molestie enim eget blandit. Vivamus dignissim, quam et gravida interdum, metus quam condimentum magna, vitae sollicitudin tellus mi ac ligula.</p>
				<h2>Input tests</h2>
				<form>
					<label>Name</label> <input type="text" /><br/><br/>
					<label>Description</label> <textarea></textarea>
				</form>
				<h2>Metallic box</h2>
				<div class="box metallic">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<input type="text" style="margin-right:5em" />
					<div class="input-search">
						<span class="input-wrap"><input type="text"/></span><button class="button blue"><img src="images/button-search.png" alt="" /></button>
					</div>
				</div>
				<div class="hr"></div>
				<div class="metallic box">
					<button class="button blue">Blueberry</button>
					<button class="button green">Grape</button>
					<button class="button yellow">Yellowberry</button>
					<button class="button orange">Orange</button>
				</div>
				<?/?>
				</div>
			</div><!-- Content ends -->
			<div id="footer-guard"></div>
		</div>
		<div id="footer">
			<div class="gs-wrap">
				<div id="credit">
					Copyright © 2011 <a href="http://www.agiletech.ie">Agile Technologies</a>. All rights reserved.
					<div><a id="newsletter-button" href="/newsletter">Subscribe to Newsletter</a><span
					class="atk-sep">|</span><a id="contact-button" href="/about/contact">Contact Us</a></div>
				</div>
				<div class="socials">
                <?$socials?>
					<a href="http://www.twitter.com/atk4/" id="twitter"></a>
					<a href="http://www.linkedin.com/company/agile-toolkit?trk=fc_badge" id="linkedin"></a>
					<a href="http://github.com/atk4" target="_blank" id="github"></a>
				</div>
			</div>
		</div>
		<div id="atk-growl-holder" class="atk-growl-holder"></div>
<script type="text/javascript">
var clicky = { log: function(){ return; }, goal: function(){ return; }};
var clicky_site_id = 66401179;
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<script type="text/javascript">
(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
<a title="Real Time Web Analytics" href="http://getclicky.com/66401179"></a>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66401179ns.gif" /></p></noscript>
	</body>
</html>
