						<div id="<?$_?>" class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="cycle-nav">
								<li><a href="#" class="button black wide">Simple php</a></li><li><a href="#" class="button black wide">PHP frameworks</a></li><li><a href="#" class="button blue-i wide">Agile toolkit</a></li>
							</ul>
							<div id="cycle-wrapper">
								<div id="cycle"></div>
								<div id="browser">
									<h4>BROWSER</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
								<div id="server">
									<h4>PHP server</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
								<div id="sql">
									<h4>SQL database</h4>
									<p>Duis turpis enim, bibendum sed rutrum laoreet, suscipit sit amet nulla. Integer vitae justo vitae nisl vestibulum gravida nec bibendum elit. Suspendisse id cursus sem.</p>
								</div>
							</div>
						</div>
