						<div id="<?$_?>" class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="comparison-nav">
								<li><a href="?compare=php" class="button black wide">Simple php</a></li><li><a 
								href="?compare=fw" class="button black wide">PHP frameworks</a></li><li><a 
								href="/" class="button blue-i wide">Agile toolkit</a></li>
							</ul>
							<div class="comparison-content" id="comparison-atk">
								<div id="cycle"></div>
								<div id="browser">
									<h4>BROWSER</h4>
									<p>You are in control of Web UI. With Agile Toolkit it's much simplier and more
									structured. AJAX and jQuery integration is organised and easy.
									</p>
								</div>
								<div id="server">
									<h4>PHP server</h4>
									<p>Your application is fully object-oriented. But it is also simple. Structure suitable
									for growth and scaling. Intuitive integration with browser and database.</p>
								</div>
								<div id="sql">
									<h4>SQL database</h4>
									<p>Working with data is easy. Use Models/Entities or our simple and secure ORM. Fully
									integrated with UI elements yet very flexible.
									</p>
								</div>
							</div>
						</div>
