						<div id="<?$_name?>" class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="comparison-nav">
								<li><a href="/?compare=php" class="button blue-i wide">Simple php</a></li><li><a 
								href="/?compare=fw" class="button black wide">PHP frameworks</a></li><li><a 
								href="/" class="button black wide">Agile toolkit</a></li>
							</ul>
							<div class="comparison-content" id="comparison-php">
								<div id="cycle"></div>
								<div id="browser">
									<h4>BROWSER</h4>
									<p>YOU ARE ON YOUR OWN.
									Build you interface from zero, look for ways to integrate jQuery, submit forms and
									solutions to
									other problems Agile Toolkit would have solved for you.
									</p>
								</div>
								<div id="server">
									<h4>PHP server</h4>
									<p>Some PHP libraries comes to help. Only thing they have in common is no-warranty
									license. Full with features you don't need. Need flexibility? Write your own.
									</p>
								</div>
								<div id="sql">
									<h4>SQL database</h4>
									<p>YOU ARE ON YOUR OWN. Get that SQL book and start poluting poluting your code with
									non-universal code. Fetch data manually and don't forget to check for injections.
									</p>
								</div>
							</div>
						</div>
