<div class="wrapper clearing" id="comparison-block">
	<div id="comparison-labels">
		<span><h4>Business Features</h4></span>
		<span title="Code produces User Interface. Can developers avoid HTML, CSS, JSON?">User Interface API</span>
		<span title="How much you need to learn, before you can start using? Would 2 weeks be enough?">Quick to Learn</span>
		<span title="Projects grow and change functional requirements. Will the code remain clean and structured?">Good for Growing Projects</span>
		<span title="Will installing of add-on provide a solution for a certain business problem?">Commercially-viable Add-ons</span>
		<span>Licensing Options</span>
		<span title="Each platform has commercial support. Do you need to pay for support time?">Free Commercial Support</span>
		<span><h4>Technical Features</h4></span>
		<span title="Everything is a class. No globals. No collisions between form POST data.">Fully Object-Oriented</span>
		<span title="Adding jQuery on object-level, not inside template. PHP-level integration">jQuery Integration</span>
		<span title="Difine business-model and use it with different views. Extend through controllers.">Model-View-Controller</span>
		<span title="Small footprint and no CPU-consuming operations">High Performance</span>
	</div>
	<div id="comparison-grid">
		<div id="comparison-headers" class="clearing">
			<div class="comparison-php"><i></i></div>
			<div class="comparison-framework"><i></i><em></em></div>
			<div class="comparison-atk"><i></i><em></em></div>
		</div>
		<div id="comparison-cols">
			<div class="comparison-col comparison-php">
				<span><em>-</em></span>
				<span><i></i></span>
				<span><em>-</em></span>
				<span>Inconsistent</span>
				<span>LGPL</span>
				<span><em>-</em></span>
				<span class="disabled"></span>
				<span><em>-</em></span>
				<span><em>-</em></span>
				<span><em>-</em></span>
				<span><i></i></span>
			</div>
			<div class="comparison-col comparison-framework">
				<span><em>-</em></span>
				<span><em>-</em></span>
				<span><i></i></span>
				<span>Inconsistent</span>
				<span>MIT/GPL</span>
				<span><em>-</em></span>
				<span class="disabled"></span>
				<span><em>-</em></span>
				<span><em>-</em></span>
				<span><i></i></span>
				<span><em>-</em></span>
			</div>
			<div class="comparison-col comparison-atk">
				<span><i></i></span>
				<span><i></i></span>
				<span><i></i></span>
				<span><i></i></span>
				<span>Comm/AGPL</span>
				<span><i></i></span>
				<span class="disabled"></span>
				<span><i></i></span>
				<span><i></i></span>
				<span><i></i></span>
				<span><i></i></span>
			</div>
		</div>
	</div>
</div>
<!--
						<div id="<?$_name?>" class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="comparison-nav">
								<li><a data-dst="comparison-php" href="?compare=php" class="button black wide">Simple php</a></li><li><a 
								data-dst="comparison-fw" href="?compare=fw" class="button black wide">PHP frameworks</a></li><li><a 
								data-dst="comparison-atk" href="/" class="button blue-i wide">Agile toolkit</a></li>
							</ul>
							<div class="comparison-content" id="comparison-php" style="display: none">
								<div id="cycle"></div>
								<div id="browser">
									<h4>Web Browser</h4>
									<p>You are on your own. As developer you would need to wrap your code into HTML
									templates and think about AJAX interractions. This tripples the cost of your software,
									even if you are experienced developer.
									</p>
								</div>
								<div id="server">
									<h4>Application Server</h4>
									<p>
									Internet is full with PHP-resources, which is why PHP is a #1 web programming language in
									the world. Most of the stuff is open-source and without commercial backing has very slow
									growth, low quality and contains large amount of unnecessary features.
									</p>
								</div>
								<div id="sql">
									<h4>Database</h4>
									<p>You are on your own. Buy that SQL book and start thinking about SQL Injection
									prevention. You can use 3rd party ORM library which will not work directly with your UI,
									so even more code for you to write.
									</p>
								</div>
							</div>
							<div class="comparison-content" id="comparison-fw" style="display: none">
								<div id="cycle"></div>
								<div id="browser">
									<h4>Web Browser</h4>
									<p>You are on your own with most of existing frameworks. They define no standard
									and any 3rd party plugins you might find would require modifications and tuning to fit
									into your interface. Code duplication and unnecessary complexity drives your software
									speed down as a result the only choice left is to spend time on your own UI
									implementation.
									</p>
								</div>
								<div id="server">
									<h4>Application Server</h4>
									<p>
									Minimalistic frameworks only provide you with fraction of functionality and no structure
									for your application. Other frameworks are over-complicating things making you write
									3-times the code advocated by evangelists as "a good thing".
									</p>
								</div>
								<div id="sql">
									<h4>Database</h4>
									<p>
									Frameworks approach database objects very seriously. Some are offer much richer
									functionality than Agile Toolkit, which generally comes at expense of application speed.
									</p>
								</div>
							</div>-->

							<!-- This shows when comparison ATK button is selected (by default)  --><!--

							<div class="comparison-content" id="comparison-atk">
								<div id="cycle"></div>
								<div id="browser">
									<h4>Web Browser</h4>
									<p>Agile Toolkit is capable of producing HTML templates, JavaScript, jQuery, CSS and AJAX
									bindings for you. All the views you create or any addon you use will contain a great UI.
									</p>
								</div>
								<div id="server">
									<h4>Application Server</h4>
									<p>You write your business code here, not scaterred across multiple places. Any code is
									object-oriented and scalable. Easy enough to understand for beginners and suitable for
									high-volume projects.
									</p>
								</div>
								<div id="sql">
									<h4>Database</h4>
									<p>
									Similar to other PHP Frameworks, Agile Toolkit supports many concepts such as MVC, ORM,
									DynamicQueries. Agile Toolkit favours lightweight, extensible and speed-oriented approach.
									</p>
								</div>
							</div>
						</div>
-->
