						<div id="<?$_name?>" class="wrapper">
							<h2>Explore the difference</h2>
							<ul id="comparison-nav">
								<li><a href="?compare=php" class="button black wide">Simple php</a></li><li><a 
								href="?compare=fw" class="button blue-i wide">PHP frameworks</a></li><li><a 
								href="/" class="button black wide">Agile toolkit</a></li>
							</ul>
							<div class="comparison-content" id="comparison-fw">
								<div id="cycle"></div>
								<div id="browser">
									<h4>BROWSER</h4>
									<p>Some frameworks don't even assume existance of Web Browser. Others have very basic
									understanding of web pages. UI elements are proprietary and in-flexible. Prepare make
									tempalte for every page and write lots of JavaScript.
									</p>
								</div>
								<div id="server">
									<h4>PHP server</h4>
									<p>Many frameworks are not object-oriented. Some are not
									extensible and others are ineffective inside. Plugins are inconsistent and not universal.
									Bulky and slow.
									</p>
								</div>
								<div id="sql">
									<h4>SQL database</h4>
									<p>Some frameworks give you Models or ORM (Dynamic Queries). But it's not integrated with
									UI. Pretty often solution is slow and instead of helping — makes you develop more.
									</p>
								</div>
							</div>
						</div>
