#footer-guard {height:7.5em !important;}
#content {padding-top:0;}

#header {padding-bottom:0;}
#header #hero {clear:both;margin-top:3.5em;color:#93c9ff;border-bottom:1px solid #0a355f;padding-bottom:2.5em;}
#header #hero-text {float:left;width:680px;}
#header #hero h1 {background:url(../images/sprite.png) no-repeat -300px -20px;height:33px;width:680px;line-height:1;margin:0 0 0.3em 0;}
#header #hero p {margin:0;line-height:1.8;font-size:14px !important;}
#header #hero p span.highlight {color:#ebf5ff;}
#header #hero .button {-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.08);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.08);box-shadow:0 1px 0 rgba(255,255,255,0.08);}
#header #hero-download {float:right;width:200px;min-height:32px;}
#header #hero-download #version {padding:20px 0 0 48px;background:url(../images/sprite.png) no-repeat -300px -79px;}
#header #hero-download .button {margin:0.7em 0 0.3em 0;}
#header #hero-download #size {font-size:10px;color:#397cbf;text-align:center;}
#header a:link, #header a:visited {color:#fff;text-decoration:none;}
#header #actionbar {font-size:16px;border-top:1px solid #0e4f90;}
#header #actionbar #comparison {margin-right:2.5em;}
#header #actionbar a {position:relative;height:4em;line-height:4em;}
#header #actionbar a, #header #actionbar a i {float:left;}
#header #actionbar a i {margin:1.2em 0.5em 0 0;position:relative;}
#header #actionbar a:hover span {text-shadow:0 0 5px rgba(255,255,255,0.7);border-bottom-color:#84a3c2;}
#header #actionbar a.current b {position:absolute;width:23px;height:13px;background:url(../images/bg-darkblue-dotted-corner.png);bottom:-3px;left:50%;margin-left:0px;}
#header #actionbar a#example i {top:-0.7em;}
#header #actionbar a#tour {.width:8em;}
#header #actionbar a#tour, #header #actionbar a#tour i {float:right;text-align:right;}
#header #actionbar a#tour i {margin:1.2em 0 0 0.5em;top:0.4em;}


#comparison>.wrapper,
#features>.wrapper {padding-top:4em;padding-bottom:3em;}
#comparison h2,
#features h2 {margin-bottom:1.2em;}


#comparison {background:url(../images/bg-darkblue-dotted.jpg) top center;color:#b5c2cf;}
#comparison #comparison-content {position:relative;height:370px;}
#comparison a {color:#fff;}
#comparison h2 {color:#fff;text-shadow:0 1px 1px #000;display:none;}
#comparison h2:after {-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.5);box-shadow:0 1px 1px rgba(0,0,0,0.5);}
#comparison h3 {color:#fff;}
#comparison #cycle {width:445px;height:209px;margin:auto;background:url(../images/sprite.png) no-repeat -300px -144px;}
#comparison #browser, #comparison #server, #comparison #sql {width:220px;position:absolute;}
#comparison #browser {left:0;top:10px;text-align:right;}
#comparison #server {left:400px;top:230px;}
#comparison #sql {right:0;top:10px;}
#comparison h4 {color:#fff;}
#comparison p {font-size:12px;}
#comparison ul#comparison-nav, #comparison ul#comparison-nav li {margin:0;padding:0;list-style-type:none;}
#comparison ul#comparison-nav {background:#1b232b;width:930px;margin-bottom:3.5em;;padding:5px;-webkit-box-shadow:0 1px 5px rgba(0,0,0,1);-moz-box-shadow:0 1px 5px rgba(0,0,0,1);box-shadow:0 1px 5px rgba(0,0,0,1);position:relative;outline:1px solid #000\0/;}
#comparison ul#comparison-nav:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;-webkit-box-shadow:0 1px 1px rgba(255,255,255,0.1) inset;-moz-box-shadow:0 1px 1px rgba(255,255,255,0.1) inset;box-shadow:0 1px 1px rgba(255,255,255,0.1) inset;z-index:1;}
#comparison ul#comparison-nav li {margin-left:5px;display:inline-block;width:306px;position:relative;z-index:2;.float:left;}
#comparison ul#comparison-nav li:first-child {margin-left:0;}
#comparison ul#comparison-nav li .button {-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);box-shadow:0 1px 0 rgba(255,255,255,0.1);}
#comparison ul#comparison-nav li .button:active {top:0px;}
#comparison ul#comparison-nav li .blue-i {text-shadow:0 1px 1px #004080;}
#comparison ul#comparison-nav li .blue-i:after {content:'';position:absolute;top:0;left:0;height:1px;width:100%;background:#189df3;}
#comparison ul#comparison-nav li .button.blue-i {cursor:default !important;}

#features {padding:0;margin-top:0;}
.features-grid {position:relative;overflow:hidden;}
.features-grid>div {width:286px;margin-left:40px;float:left;}
.features-grid>div:first-child {margin-left:0;}
.features-grid>div>div {margin-top:3em;overflow:hidden;}
.features-grid>div>div:first-child {margin-top:0;}
.features-grid>div>div>div {float:right;width:215px;}
.features-grid h6 {white-space:nowrap;}
.features-grid p {height:16em;}
.features-grid .big-icon {float:left;}