<div style="border: 1px solid black">
<h2>Explore the Difference</h2>

<h3>Plain PHP</h3>
<p class="hint">Most of PHP software are build without relying on any framework at all. Development of such software takes considerable amount of time and stumbles upon all the mistakes previously resolved in previous web software</p>

<h3>Other Frameworks</h3>
<p class="hint">PHP Frameworks nowdays focus on a very narrow set of goals such as models, page routing, security and class hierarchy. Those typically focus on the interaction with data in SQL and Files</p>

<h3>Agile Toolkit</h3>
<p class="hint">Agile Toolkit is about development experience. It provides a solid conceputal foundation for your code and extends it to back-end (SQL, Files, Cloud) interraction and front-end (JavaScript, AJAX, jQuery)</p>

</div>
