
<?resources?>
<?mediaelementjs?>
<script src="/templates/js/mediaelement/build/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="/templates/js/mediaelement/build/mediaelementplayer.css" />


<center>
<video width="810" height="507" id="vid" src="<?$src?>"></video>
</center>
<script>
$('video').mediaelementplayer();
</script>
<?/?>

<?flash?>
		<script type="text/javascript" src="http://files.agiletech.ie/atk4-zero-start/com/js/swfobject/swfobject.js"></script>		
		<script type="text/javascript">
			var flashvars = {};
			var params = {};
			
			params.bgcolor = "#000000";
			params.allowscriptaccess = "always";
			
			flashvars.videoPath = "<?$src?>";
			flashvars.posterPath = "http://files.agiletech.ie/atk4-zero-start/com/poster/myPosterFrame.jpg";
			flashvars.skinPath = "http://files.agiletech.ie/atk4-zero-start/com/skin/skin.swf";
			
			var stageW = 940;
			var stageH = 600;
			
			var attributes = {};
			attributes.id = "flashcontent";			
			
			swfobject.embedSWF("http://files.agiletech.ie/atk4-zero-start/player.swf", "flashcontent", stageW, stageH, "9.0.0", false, flashvars, params, attributes);
		</script>

		<div id="flashcontent"><p>This ScreenFlow video requires a more recent version of the Adobe Flash Player to display.  Please update your version of the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.</p></div>
<?/?>
<?/resources?>

<?$Content?>
